{{define "adminHeader"}}

<!DOCTYPE html>
<html lang="en" dir="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.AppEnv.Name}} | {{.Title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link id="gull-theme" rel="stylesheet" href="/assets/Public/Admin/styles/css/themes/lite-purple.css?ver=1.4">
    <link rel="stylesheet" href="/assets/Public/Admin/styles/vendor/perfect-scrollbar.css">

    <link rel="stylesheet" href="/assets/Public/User/css/font-awesome.min.css?ver=1.1">
    <link rel="stylesheet" type="text/css" href="/assets/Public/User/css/dropify.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/Public/User/css/jquery.datetimepicker.min.css"/>
    <link rel="shortcut icon" type="image/png" href="/assets/Public/User/images/favicon.svg">
    {{/*<link rel="stylesheet" href="/assets/Public/Admin/styles/vendor/dropzone.min.css">*/}}

    <script src="/assets/Public/Admin/ckeditor/ckeditor.js"></script>

</head>

<body class="text-left">

{{template "confirmDelete" .}}
{{template "confirmModal" .}}

<!-- Pre Loader Strat  -->
<div class='loadscreen' id="preloader">

    <div class="loader spinner-bubble spinner-bubble-primary">



    </div>
</div>
<!-- Pre Loader end  -->
<div class="app-admin-wrap layout-sidebar-large clearfix">
    <div class="main-header">
        <div class="logo">
            <a href="/dashboard"><img src="/assets/Public/User/images/logo.png" alt=""></a>
        </div>

        <div class="menu-toggle">
            <div></div>
            <div></div>
            <div></div>
        </div>

        {{/*<div class="d-flex align-items-center">
            <!-- Mega menu -->
            */}}{{/*<div class="dropdown mega-menu d-none d-md-block">
                <a href="#" class="btn text-muted dropdown-toggle mr-3" id="dropdownMegaMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mega Menu</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="row m-0">
                        <div class="col-md-4 p-4 text-left bg-img">
                            <h2 class="title">Mega Menu <br> Sidebar</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores natus laboriosam fugit, consequatur.
                            </p>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem odio amet eos dolore suscipit placeat.</p>
                            <button class="btn btn-lg btn-rounded btn-outline-warning">Learn More</button>
                        </div>
                        <div class="col-md-4 p-4 text-left">
                            <p class="text-primary text--cap border-bottom-primary d-inline-block">Features</p>
                            <div class="menu-icon-grid w-auto p-0">
                                <a href="#"><i class="i-Shop-4"></i> Home</a>
                                <a href="#"><i class="i-Library"></i> UI Kits</a>
                                <a href="#"><i class="i-Drop"></i> Apps</a>
                                <a href="#"><i class="i-File-Clipboard-File--Text"></i> Forms</a>
                                <a href="#"><i class="i-Checked-User"></i> Sessions</a>
                                <a href="#"><i class="i-Ambulance"></i> Support</a>
                            </div>
                        </div>
                        <div class="col-md-4 p-4 text-left">
                            <p class="text-primary text--cap border-bottom-primary d-inline-block">Components</p>
                            <ul class="links">
                                <li><a href="accordion.html">Accordion</a></li>
                                <li><a href="alerts.html">Alerts</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="badges.html">Badges</a></li>
                                <li><a href="carousel.html">Carousels</a></li>
                                <li><a href="lists.html">Lists</a></li>
                                <li><a href="popover.html">Popover</a></li>
                                <li><a href="tables.html">Tables</a></li>
                                <li><a href="datatables.html">Datatables</a></li>
                                <li><a href="modals.html">Modals</a></li>
                                <li><a href="nouislider.html">Sliders</a></li>
                                <li><a href="tabs.html">Tabs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*/}}{{/*
            <!-- / Mega menu -->
            <div class="search-bar">
                <input type="text" placeholder="Search">
                <i class="search-icon text-muted i-Magnifi-Glass1"></i>
            </div>
        </div>*/}}

        <div style="margin: auto"></div>

        <div class="header-part-right">
            <!-- Full screen toggle -->
            <i class="i-Full-Screen header-icon d-none d-sm-inline-block" data-fullscreen></i>
            <!-- Grid menu Dropdown -->
            {{/*<div class="dropdown">
                <i class="i-Safe-Box text-muted header-icon" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="menu-icon-grid">
                        <a href="#"><i class="i-Shop-4"></i> Home</a>
                        <a href="#"><i class="i-Library"></i> UI Kits</a>
                        <a href="#"><i class="i-Drop"></i> Apps</a>
                        <a href="#"><i class="i-File-Clipboard-File--Text"></i> Forms</a>
                        <a href="#"><i class="i-Checked-User"></i> Sessions</a>
                        <a href="#"><i class="i-Ambulance"></i> Support</a>
                    </div>
                </div>
            </div>
            <!-- Notificaiton -->
            <div class="dropdown">
                <div class="badge-top-container" id="dropdownNotification" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="badge badge-primary">3</span>
                    <i class="i-Bell text-muted header-icon"></i>
                </div>
                <!-- Notification dropdown -->
                <div class="dropdown-menu rtl-ps-none dropdown-menu-right notification-dropdown" aria-labelledby="dropdownNotification" data-perfect-scrollbar data-suppress-scroll-x="true">
                    <div class="dropdown-item d-flex">
                        <div class="notification-icon">
                            <i class="i-Speach-Bubble-6 text-primary mr-1"></i>
                        </div>
                        <div class="notification-details flex-grow-1">
                            <p class="m-0 d-flex align-items-center">
                                <span>New message</span>
                                <span class="badge badge-pill badge-primary ml-1 mr-1">new</span>
                                <span class="flex-grow-1"></span>
                                <span class="text-small text-muted ml-auto">10 sec ago</span>
                            </p>
                            <p class="text-small text-muted m-0">James: Hey! are you busy?</p>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex">
                        <div class="notification-icon">
                            <i class="i-Receipt-3 text-success mr-1"></i>
                        </div>
                        <div class="notification-details flex-grow-1">
                            <p class="m-0 d-flex align-items-center">
                                <span>New order received</span>
                                <span class="badge badge-pill badge-success ml-1 mr-1">new</span>
                                <span class="flex-grow-1"></span>
                                <span class="text-small text-muted ml-auto">2 hours ago</span>
                            </p>
                            <p class="text-small text-muted m-0">1 Headphone, 3 iPhone x</p>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex">
                        <div class="notification-icon">
                            <i class="i-Empty-Box text-danger mr-1"></i>
                        </div>
                        <div class="notification-details flex-grow-1">
                            <p class="m-0 d-flex align-items-center">
                                <span>Product out of stock</span>
                                <span class="badge badge-pill badge-danger ml-1 mr-1">3</span>
                                <span class="flex-grow-1"></span>
                                <span class="text-small text-muted ml-auto">10 hours ago</span>
                            </p>
                            <p class="text-small text-muted m-0">Headphone E67, R98, XL90, Q77</p>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex">
                        <div class="notification-icon">
                            <i class="i-Data-Power text-success mr-1"></i>
                        </div>
                        <div class="notification-details flex-grow-1">
                            <p class="m-0 d-flex align-items-center">
                                <span>Server Up!</span>
                                <span class="badge badge-pill badge-success ml-1 mr-1">3</span>
                                <span class="flex-grow-1"></span>
                                <span class="text-small text-muted ml-auto">14 hours ago</span>
                            </p>
                            <p class="text-small text-muted m-0">Server rebooted successfully</p>
                        </div>
                    </div>
                </div>
            </div>*/}}
            <!-- Notificaiton End -->

            <!-- User avatar dropdown -->
            <div class="dropdown">
                <div class="user col align-self-end">
                    <img src="/assets/Public/Admin/images/Admin.png" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <div class="dropdown-header">
                            <i class="i-Lock-User mr-1"></i> {{.User.FirstName}} {{.User.LastName}}
                        </div>
                        {{/*<a class="dropdown-item" href="/admin-account-setting">Account settings</a>*/}}
                        {{/*<a class="dropdown-item">Billing history</a>*/}}
                        <a class="dropdown-item" href="/logout">Sign out</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="side-content-wrap">
        <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
            <ul class="navigation-left">
                <li class="nav-item {{if eq .Nav "dashboard"}}active{{end}}" data-item="">
                    <a class="nav-item-hold " href="/dashboard">
                        <i class="nav-icon i-Bar-Chart"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item {{if eq .Nav "users"}}active{{end}}" data-item="">
                    <a class="nav-item-hold" href="/users">
                        <i class="nav-icon i-Library"></i>
                        <span class="nav-text">User Management</span>
                    </a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item {{if eq .Nav "products"}}active{{end}}" data-item="product">
                    <a class="nav-item-hold" href="#">
                        <i class="nav-icon i-Suitcase"></i>
                        <span class="nav-text">Product Management</span>
                    </a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item {{if eq .Nav "orders"}}active{{end}}" data-item="">
                    <a class="nav-item-hold" href="/orders">
                        <i class="nav-icon i-Computer-Secure"></i>
                        <span class="nav-text">Order Management</span>
                    </a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item {{if eq .Nav "wallets"}}active{{end}}" data-item="wallets">
                    <a class="nav-item-hold" href="#">
                        <i class="nav-icon i-Computer-Secure"></i>
                        <span class="nav-text">Wallet Management</span>
                    </a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item {{if eq .Nav "coupon"}}active{{end}}" data-item="">
                    <a class="nav-item-hold" href="/coupon-settings">
                        <i class="nav-icon i-Suitcase"></i>
                        <span class="nav-text">Coupon Management</span>
                    </a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item {{if eq .Nav "settings"}}active{{end}}" data-item="settings">
                    <a class="nav-item-hold" href="#">
                        <i class="nav-icon i-File-Clipboard-File--Text"></i>
                        <span class="nav-text">Settings</span>
                    </a>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="">
                    <a class="nav-item-hold" href="javascript:void('')">
                        <span class="nav-text"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
            <!-- Submenus -->
            <ul class="childNav" data-parent="product">
                <li class="nav-item">
                    <a href="/add-karat">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Add Karat</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/all-karat">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">All Karat</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/add-product">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Add Product</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/all-product">
                        <i class="nav-icon i-Email"></i>
                        <span class="item-name">All Products</span>
                    </a>
                </li>
            </ul>
            <ul class="childNav" data-parent="wallets">
                <li class="nav-item">
                    <a href="/wallets">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Wallets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/gold-transfers">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Gold Transfers</span>
                    </a>
                </li>
            </ul>
            <ul class="childNav" data-parent="settings">
                <li class="nav-item">
                    <a href="/admin-settings/prm">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Admin Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/website-settings/prm">
                        <i class="nav-icon i-Email"></i>
                        <span class="item-name">Website Settings</span>
                    </a>
                </li>
                {{/*<li class="nav-item">
                    <a href="/coupon-settings">
                        <i class="nav-icon i-Email"></i>
                        <span class="item-name">Coupon Settings</span>
                    </a>
                </li>*/}}
            </ul>
        </div>
        <div class="sidebar-overlay"></div>
    </div>
    <!--=============== Left side End ================-->
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        {{if (ne .Msg.Success "")}}
            <div class="alert alert-card alert-success" id="success-alert" role="alert">
                <strong class="text-capitalize">{{.Msg.Success}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{else if (ne .Msg.Fail "")}}
            <div class="alert alert-card alert-danger" id="danger-alert" role="alert">
                <strong class="text-capitalize">{{.Msg.Fail}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{end}}
        <div id="frontend-alert-message">

        </div>
{{end}}


{{define "adminFooter"}}

    <div class="flex-grow-1"></div>
    <div class="app-footer">
        <div class="row">
            <div class="col-md-9">
                {{/*<p><strong>Gull - Laravel + Bootstrap 4 admin template</strong></p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero quis beatae officia saepe perferendis voluptatum minima eveniet voluptates dolorum, temporibus nisi maxime nesciunt totam repudiandae commodi sequi dolor quibusdam
                    sunt.
                </p>*/}}
            </div>
        </div>
        <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
            {{/*<a class="btn btn-primary text-white btn-rounded" href="https://themeforest.net/user/mh_rafi" target="_blank">Buy
                Gull HTML</a>*/}}
            <span class="flex-grow-1"></span>
            <div class="d-flex align-items-center">
                {{/*<img class="logo" src="/assets/Public/Admin/images/logo.png" alt="">*/}}
                <div>
                    <p class="m-0">&copy; 2019 {{.AppEnv.Name}}</p>
                    <p class="m-0">All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
    <!-- fotter end -->
</div>
<!-- ============ Body content End ============= -->
</div>
<!--=============== End app-admin-wrap ================-->

<!-- ============ Search UI Start ============= -->
{{/*<div class="search-ui">
    <div class="search-header o-hidden">
        <img src="/assets/Public/Admin/images/logo.png" alt="" class="logo float-left">
        <button class="search-close btn btn-icon bg-transparent float-right mt-2">
            <i class="i-Close-Window text-22 text-muted"></i>
        </button>
    </div>

    <input type="text" placeholder="Type here" class="search-input" autofocus>

    <div class="search-title">
        <span class="text-muted">Search results</span>
    </div>

    <div class="search-results list-horizontal">
        <div class="list-item col-md-12 p-0">
            <div class="card o-hidden flex-row mb-4 d-flex">
                <div class="list-thumb d-flex">
                    <!-- TUMBNAIL -->
                    <img src="/assets/Public/Admin/images/products/headphone-1.jpg" alt="">
                </div>
                <div class="flex-grow-1 pl-2 d-flex">
                    <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                        <!-- OTHER DATA -->
                        <a href="" class="w-40 w-sm-100">
                            <div class="item-title">Headphone 1</div>
                        </a>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">
                            $300
                            <del class="text-secondary">$400</del>
                        </p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                            <span class="badge badge-danger">Sale</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="list-item col-md-12 p-0">
            <div class="card o-hidden flex-row mb-4 d-flex">
                <div class="list-thumb d-flex">
                    <!-- TUMBNAIL -->
                    <img src="/assets/Public/Admin/images/products/headphone-2.jpg" alt="">
                </div>
                <div class="flex-grow-1 pl-2 d-flex">
                    <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                        <!-- OTHER DATA -->
                        <a href="" class="w-40 w-sm-100">
                            <div class="item-title">Headphone 1</div>
                        </a>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">
                            $300
                            <del class="text-secondary">$400</del>
                        </p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                            <span class="badge badge-primary">New</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="list-item col-md-12 p-0">
            <div class="card o-hidden flex-row mb-4 d-flex">
                <div class="list-thumb d-flex">
                    <!-- TUMBNAIL -->
                    <img src="/assets/Public/Admin/images/products/headphone-3.jpg" alt="">
                </div>
                <div class="flex-grow-1 pl-2 d-flex">
                    <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                        <!-- OTHER DATA -->
                        <a href="" class="w-40 w-sm-100">
                            <div class="item-title">Headphone 1</div>
                        </a>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">
                            $300
                            <del class="text-secondary">$400</del>
                        </p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                            <span class="badge badge-primary">New</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="list-item col-md-12 p-0">
            <div class="card o-hidden flex-row mb-4 d-flex">
                <div class="list-thumb d-flex">
                    <!-- TUMBNAIL -->
                    <img src="/assets/Public/Admin/images/products/headphone-4.jpg" alt="">
                </div>
                <div class="flex-grow-1 pl-2 d-flex">
                    <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                        <!-- OTHER DATA -->
                        <a href="" class="w-40 w-sm-100">
                            <div class="item-title">Headphone 1</div>
                        </a>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">
                            $300
                            <del class="text-secondary">$400</del>
                        </p>
                        <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                            <span class="badge badge-primary">New</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-5 text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination d-inline-flex">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>*/}}
<!-- ============ Search UI End ============= -->
<!--BootBox Delete Warning -->

<script>
    $(document).on("click", "#delete", function(e){
        e.preventDefault();
        var link= $(this).attr("href");
        if (confirm("Are you sure, You want to delete?")) {
            window.location.href=link;
        }
    });
</script>

<script src="/assets/Public/Admin/js/vendor/jquery-3.3.1.min.js"></script>
<script src="/assets/Public/Admin/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/Public/Admin/js/vendor/perfect-scrollbar.min.js"></script>
<script src="/assets/Public/Admin/js/vendor/echarts.min.js"></script>

<script src="/assets/Public/Admin/js/es5/echart.options.min.js"></script>
{{/*<script src="/assets/Public/Admin/js/dashboard.v1.script.js"></script>*/}}

<script src="/assets/Public/Admin/js/es5/script.min.js"></script>
<script src="/assets/Public/Admin/js/es5/sidebar.large.script.min.js"></script>
<script src="/assets/Public/Admin/js/datatables.script.js"></script>
<script src="/assets/Public/Admin/js/vendor/datatables.min.js"></script>
<script src="/assets/Public/User/js/dropify.min.js"></script>
<script src="/assets/Public/User/js/form-file-uploads.js"></script>
<script src="/assets/Public/User/js/jquery.datetimepicker.js"></script>
<script src="/assets/Public/Admin/js/script.js"></script>


{{/*<script src="/assets/Public/Admin/js/vendor/dropzone.min.js"></script>
<script src="/assets/Public/Admin/js/dropzone.script.js"></script>*/}}
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

<script>
    getFullDate = function (theDate) {
        var month = (theDate.getMonth()+1);
        if (month < 10) {
            month = "0"+month;
        }
        var day = theDate.getDate();
        if (day < 10) {
            day = "0"+day;
        }
        var hour = theDate.getHours();
        if (hour < 10) {
            hour = "0"+hour;
        }
        var minute = theDate.getMinutes();
        if (minute < 10) {
            minute = "0"+minute;
        }

        var date = theDate.getFullYear()+'-'+month+'-'+day;
        var time = hour + ":" + minute;
        return date + ' ' + time;
    }
</script>

{{/*<script>
    url = {{.WebSocketUrl}};//'wss://mtcore-wallet.dev02.squaredbyte.com/app/test?protocol=7&client=js&version=4.4.0&flash=false';
    c = new WebSocket(url);

    send = function(data){
        // $("#output").append((new Date())+ " ==> "+data+"\n")
        c.send(data)
    }

    c.onmessage = function(msg){
        let res = JSON.parse(msg.data)
        if (res.data == '"logout"'){
            setTimeout(
                function(){
                    window.location.reload()
                }, 1000 )
        } else if (res.data == '"login"'){
            setTimeout(
                function(){
                    window.location.reload()
                }, 1000 )
        }
    }

    c.onclose = function(event){
        console.log('WebSocket is closed from server end. ReadyState: '+c.readyState);
    }

    c.onerror = function(error){
        console.log('WebSocket Error: ' + error+' ReadyState: '+c.readyState)
    }

    c.onopen = function(){
        console.log("WebSocket Connected. ReadyState: "+c.readyState)
        $.ajax({
            url: '/get-channel',
            type: 'POST',
            success: function(response){
                var channel= response.data;
                send("{\"event\":\"pusher:subscribe\",\"data\":{\"channel\":\""+channel+"\"}}")
                setInterval(
                    function(){
                            send('{"event":"pusher:ping","data":{}}')
                    }, 30000 )
            }
        });
    }

</script>*/}}

<!-- auto hide alert -->
<script>
    $(document).ready(function(){

        setTimeout(function(){
            $('#success-alert').fadeOut()
        }, 6000);

        setTimeout(function(){
            $('#danger-alert').fadeOut()
        }, 6000);
    });
</script>
<!-- -->

<script>
    $(`[type="password"]`).change(function () {
        var val = $(this).val();
        if (val.length < 6 ) {
            $(this).val("");
            alert("Password must contain at least six characters");
        }
    });

</script>

<script>
    $(document).on("click", ".delete-anchor", function(e){
        e.preventDefault();
        var delete_url= $(this).attr("href");
        jQuery('#confirm-delete').modal('show', {backdrop: 'static'});
        document.getElementById('delete_link').setAttribute('href' , delete_url);
        /*var link= $(this).attr("href");
        if (confirm("Are you sure, You want to delete?")) {
            window.location.href=link;
        }*/
    });
</script>

<script>
    $(document).on("click", ".confirm-anchor", function(e){
        e.preventDefault();
        var confirm_url= $(this).attr("href");
        var header = $(this).data("header");
        jQuery('#confirm-modal').modal('show', {backdrop: 'static'});
        document.getElementById('confirm_link').setAttribute('href' , confirm_url);
        if (header !== "") {
            document.getElementById('confirm-modal-header').innerText=header;
        }
    });
</script>

<script>
    getFullDate = function (theDate) {
        var month = (theDate.getMonth()+1);
        if (month < 10) {
            month = "0"+month;
        }
        var day = theDate.getDate();
        if (day < 10) {
            day = "0"+day;
        }
        var hour = theDate.getHours();
        if (hour < 10) {
            hour = "0"+hour;
        }
        var minute = theDate.getMinutes();
        if (minute < 10) {
            minute = "0"+minute;
        }

        var date = theDate.getFullYear()+'-'+month+'-'+day;
        var time = hour + ":" + minute;
        return date + ' ' + time;
    }
</script>

</body>

</html>
{{end}}
