{{template "adminHeader" .}}


<h2> Add Product </h2>
<form action="/add-product" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 form-group mb-3">
            <label for="firstName1">Product Title</label>
            <input type="text" class="form-control" id="firstName1" placeholder="Enter Product Title" name="title"
                   required>
        </div>

        {{/*<div class="col-md-6 form-group mb-3">
            <label for="firstName1">Second Title</label>
            <input type="text" class="form-control" id="firstName1" placeholder="Enter a Second Title" name="second_title">
        </div>*/}}

        <div class="col-md-6 form-group mb-3">
            <label for="picker1">Select Type</label>
            <select class="form-control" name="type" required id="type">
                <option value="">--</option>
                <option value="1">Fixed Product</option>
                <option value="2">Custom Product</option>
            </select>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label for="picker1">Select Karat Amount {{/*<span style="color: red">*</span>*/}}</label>
            <select class="form-control" name="karat_id" id="karat" required>
                <option value="">--</option>
                {{range .Karats}}
                    <option value="{{.ID}}">{{.Amount}}k</option>
                {{end}}
            </select>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label for="lastName1">Amount in gram</label>
            <input type="text" class="form-control" id="lastName1" placeholder="Enter Gold Amount in gram" name="grm_amount"
                   required>
        </div>

        <div class="col-md-6 form-group mb-3" id="min" hidden>
            <label for="lastName1">Min amount in gram (At least 0.1g)</label>
            <input type="text" class="form-control" id="lastName1" placeholder="Enter Gold Amount in gram" name="min" value="1" required>
        </div>

        {{/*<div class="col-md-3 form-group mb-3" id="max" hidden>
            <label for="lastName1">Max amount in gram</label>
            <input type="text" class="form-control" id="lastName1" placeholder="Enter Gold Amount in gram" name="max" value="1" required>
        </div>*/}}

        {{/*<div class="col-md-6 form-group mb-3">
            <label for="picker1">Select Display Position</label>
            <select class="form-control" name="position" required id="type">
                <option value="">--</option>
                {{range .Position}}
                    <option value="{{.}}">Position {{.}}</option>
                {{end}}
            </select>
        </div>*/}}

        <div class="col-md-6 form-group mb-3">
            <label for="exampleInputEmail1">Product Description</label>
            <textarea class="form-control" aria-label="With textarea" name="description" rows="3"></textarea>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="col-md-6 form-group mb-3">
            <label for="phone">Price</label>
            <input class="form-control" id="phone" placeholder="Enter Price" name="price" required>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label for="firstName1">Discount(%)</label>
            <input type="text" class="form-control" id="firstName1" placeholder="Enter Discount" value="0" name="discount"
                   required>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label for="credit1">Upload Image</label>
            <div id="file-upload" class="section">
                <!--Default version-->
                <div class="row section">
                    <div class="col s6 m5 l9">
                        <input type="file" id="file" ref="file" {{/*v-on:change="handleFileUpload()"*/}}
                               type="file" name="img" id="input-file-now" class="dropify" data-default-file="" required/>
                    </div>
                </div>
                <!--Default value-->
                <div class="divider"></div>
            </div>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label class="checkbox checkbox-primary">
                <input type="checkbox" value="1" name="status">
                <span>Publication Status</span>
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Add Product</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#type").change(function () {
            var val = $("#type").val();
            if (val == 2) {
                $("#min").removeAttr("hidden");
                $("#max").removeAttr("hidden");
                $("#min").show();
                $("#max").show();
            } else if (val == 1) {
                $("#min").hide();
                $("#max").hide();
            }
        });
    });
</script>

{{template "adminFooter" .}}