{{template "adminHeader" .}}


<h2> Add Karat </h2>
<form action="/add-karat" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 form-group mb-3">
            <label for="firstName1">Title</label>
            <input type="text" class="form-control" id="firstName1" placeholder="Enter a title" name="title"
                   required>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label for="firstName1">Amount in karat</label>
            <input type="text" class="form-control" id="firstName1" placeholder="Enter karat amount" name="amount"
                   required>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label class="checkbox checkbox-primary">
                <input type="checkbox" value="1" name="status">
                <span>Publication Status</span>
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Add Karat</button>
        </div>
    </div>
</form>
    

{{template "adminFooter" .}}