{{template "adminHeader" .}}
{{$baseCurrSymbol := .BaseCurrSymbol}}
{{/*<div class="col-sm-12">
    <a href="/add-karat" class="btn btn-rounded btn-success pull-right">Add New Karat</a>
</div><br>*/}}

<h4 class="card-title mb-3">All Karat</h4>
<div class="table-responsive">
    <table id="zero_configuration_table" class="display table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Karat Amount</th>
            <th>Publication Status</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody>

        {{range .Karats}}
            <tr>
                <td class="center">{{.ID}}</td>
                <td class="center">{{.Title}}</td>
                <td class="center">{{.Amount}}</td>
                <td><label class="switch pr-5 switch-success mr-3">
                        {{if eq .Status 1}}
                            <input onchange="update_status(this, {{.ID}})" value="1" type="checkbox" checked="">
                        {{else if eq .Status 0}}
                            <input onchange="update_status(this, {{.ID}})" value="0" type="checkbox">
                        {{end}}
                        <span class="slider"></span></label>
                </td>

                <td class="center">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu window-size" aria-labelledby="dropdownMenuButton">
                            <ul align="left">
                                <li>
                                    <a href="/edit-karat/{{.ID}}">Edit</a>
                                </li>
                                {{/*<li>
                                    <a href="/delete-karat/{{.ID}}" class="delete-anchor">
                                        Delete
                                    </a>
                                </li>*/}}
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        {{end}}

        </tbody>
    </table>
</div>

<script>
    function update_status(el, id){
        var status;
        if(el.checked){
            status = 1;
        }
        else{
            status = 0;
        }
        window.location.href= '/update-status-karat/'+id+'/'+status;
    }
</script>

{{template "adminFooter" .}}