{{template "adminHeader" .}}

<div class="col-sm-12">
    <a href="/add-coupon" class="btn btn-rounded btn-success pull-right">Add New Coupon</a>
</div><br>

<h4 class="card-title mb-3">All Coupons</h4>
<div class="table-responsive">
                    <table id="zero_configuration_table2"
                           class="display table table-striped table-bordered"
                           style="width:100%">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Code</th>
                            {{/*<th>Validity(in days)</th>*/}}
                            {{/*<th>Start Date</th>*/}}
                            <th>Amount</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {{range .Coupons}}
                            <tr>
                                <td class="center">{{.Title}}</td>
                                {{if eq .Type 1}}
                                <td class="center">Discount(%)</td>
                                {{else if eq .Type 2}}
                                <td class="center">Free Bids</td>
                                {{end}}
                                <td class="center">{{.Code}}</td>
                                {{/*{{if eq .Type 1}}
                                    <td class="center">N/A</td>
                                {{else if eq .Type 2}}
                                    <td class="center">{{.Validity}}</td>
                                {{end}}*/}}
                                <td class="center">{{.Amount}}</td>
                                {{/*<td class="center">
                                    <script>
                                        str = {{.StartDate}};
                                        d = str.substr(0, 10);
                                        t = str.substr(11, 5);
                                        dt = d + " " + t;
                                        document.write(dt);
                                    </script>
                                </td>*/}}
                                <td class="center">
                                    <script>
                                        str = {{.EndDate}};
                                        d = str.substr(0, 10);
                                        t = str.substr(11, 5);
                                        dt = d + " " + t;
                                        document.write(dt);
                                    </script>
                                </td>
                                <td class="center">
                                    {{if (eq .Status 1)}}

                                        <span class="badge badge-pill badge-success p-2 m-1">Active</span>

                                    {{else if (eq .Status 0)}}

                                        <span class="badge badge-pill badge-light p-2 m-1">Inactive</span>

                                    {{end}}
                                </td>

                                <td class="center">
                                    {{if (eq .Status 1)}}
                                        <a href="/make-coupon-inactive/{{.ID}}">
                                            <img src="/assets/Public/Admin/images/thumb_down.png"
                                                 style="height: 20px; width: 20px"
                                                 title="Make Inactive">
                                        </a>

                                    {{else if (eq .Status 0)}}
                                        <a href="/make-coupon-active/{{.ID}}">
                                            <img src="/assets/Public/Admin/images/thumb_up.png"
                                                 style="height: 15px; width: 15px"
                                                 title="Make Active">
                                        </a>
                                    {{end}}

                                    &nbsp&nbsp<a class="text-success mr-2"
                                                 href="/edit-coupon/{{.ID}}">
                                        <i class="nav-icon i-Pen-2 font-weight-bold"
                                           title="Edit"></i>
                                    </a>
                                    {{/*<a class="text-danger mr-2 confirm-anchor" href="/delete-coupon/{{.ID}}"
                                       class="confirm-anchor" data-header="Want to Delete?">
                                        <i class="nav-icon i-Close-Window font-weight-bold"
                                           title="Delete"></i>
                                    </a>*/}}
                                </td>
                            </tr>
                        {{end}}

                        </tbody>
                    </table>
                </div>

{{template "adminFooter" .}}