{{template "adminHeader" .}}


<h2> Edit Payment Method</h2>
<form action="/update-payMethod" method="post">
    <div class="row">
        <input type="hidden" name="id" value="{{.PayMethod.ID}}">
        <div class="col-md-6 form-group mb-3">
            <label for="firstName1">Method Name</label>
            <input type="text" class="form-control" id="firstName1"
                placeholder="Enter Method Name" name="method" value="{{.PayMethod.Method}}">
        </div>
        <div class="col-md-6 form-group mb-3">
            <label for="exampleInputEmail1">Description</label>
            <textarea class="form-control" aria-label="With textarea"
                      name="description" rows="10">{{.PayMethod.Description.String}}</textarea>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>

{{template "adminFooter" .}}