{{template "adminHeader" .}}

<h2> Edit Page</h2>
<form action="/update-page" method="post" enctype="multipart/form-data">

        <input type="hidden" name="id" value="{{.Page.ID}}">
        <div class="col-md-6 form-group mb-3">
            <label for="firstName1">Page Title</label><input type="text" class="form-control"
            id="firstName1" placeholder="Enter Page Title" name="title" value="{{.Page.Title}}">
        </div>
        <div class="col-md-12 form-group mb-3">
            <label for="exampleInputEmail1">Content (Text or HTML)</label>
            <textarea class="form-control" aria-label="With textarea" id="summernote"
                      name="text_content" rows="10">{{.Page.TextContent}}</textarea>
        </div>
        {{/*{{if eq .Page.ID 1}}
            <div class="col-md-6 form-group mb-3">
                <label for="credit1">Upload Image Content</label>
                <div id="file-upload" class="section">
                    <!--Default version-->
                    <div class="row section">
                        <div class="col s6 m5 l9">
                            <input type="file" id="file" ref="file" */}}{{/*v-on:change="handleFileUpload()"*/}}{{/*
                                   type="file" name="img" id="input-file-now" class="dropify" data-default-file=""/>
                        </div>
                    </div>
                    <!--Default value-->
                    <div class="divider"></div>
                </div>
            </div>
        {{end}}*/}}
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

</form>

{{template "adminFooter" .}}