{{template "adminHeader" .}}
{{$baseCurrSymbol := .BaseCurrSymbol}}

<h2>Edit Slider</h2>
<form action="/update-home-content" method="post" enctype="multipart/form-data">

    <input type="hidden" name="id" value="{{.HomeContent.ID}}">

    <div class="col-md-9 form-group mb-9">
        <label for="exampleInputEmail1">Text Content</label>
        <textarea name="text_content" id="text-content" cols="30"
         class="materialize-textarea" rows="20" style="height: 13rem">
            {{.HomeContent.TextContent}}
        </textarea>
    </div>

    <div class="col-md-6 form-group mb-3">
        <label for="credit1">Change Image Content</label>
        <div id="file-upload" class="section">
            <!--Default version-->
            <div class="row section">
                <div class="col s6 m5 l9">
                    <input type="file" id="file" ref="file"
                           type="file" name="img" id="input-file-now" class="dropify" data-default-file="/assets{{.HomeContent.Image}}"/>
                </div>
            </div>
            <!--Default value-->
            <div class="divider"></div>
        </div>
    </div>

    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>

</form>

<script>
    CKEDITOR.replace( 'text-content' );
    CKEDITOR.config.extraPlugins = "base64image";
</script>

{{template "adminFooter" .}}