{{template "adminHeader" .}}
<h2>Edit Coupon</h2><br><br>

<form action="/update-coupon" method="post">
<input type="hidden" name="ID" value="{{.Coupon.ID}}">

    <div class="col-md-6 form-group mb-3">
        <label for="firstName1">Title</label>
        <input type="text" class="form-control" id="firstName1"
               placeholder="Enter a title" name="Title" value="{{.Coupon.Title}}" required>
    </div>

    <div class="col-md-6 form-group mb-3">
        <label for="picker1">Type</label>
        <select id="coup-type" class="form-control" name="Type" disabled>
            <option {{if eq .Coupon.Type 1}}selected{{end}} value="1">Discount(%)</option>
            {{/*<option {{if eq .Coupon.Type 2}}selected{{end}} value="2">Free Bids</option>*/}}
        </select>
    </div>

    {{if eq .Coupon.Type 2}}
    <div class="col-md-6 form-group mb-3" id="validity">
        <label for="firstName1">Validity(in days)</label>
        <input id="validity-input" type="text" class="form-control" id="firstName1"
               placeholder="" autocomplete="off" name="Validity" value="{{.Coupon.Validity}}">
    </div>
    {{else}}

    <div class="col-md-6 form-group mb-3" id="validity" hidden>
        <label for="firstName1">Validity(in days)</label>
        <input id="validity-input" type="text" class="form-control" id="firstName1"
               placeholder="" autocomplete="off" name="Validity">
    </div>
    {{end}}

    <div class="col-md-6 form-group mb-3">
        <label id="type-value-label" for="firstName1">Discount</label>
        <div id="type-value-div" class="inside-input-wrap">
            <input id="type-value-input" type="text" class="form-control" id="firstName1"
                   placeholder="Enter discount amount" name="Amount" value="{{.Coupon.Amount}}" disabled>
            <span class="inside-value">%</span>
        </div>
    </div>

    {{/*<div class="col-md-6 form-group mb-3">
        <label for="firstName1">Start Date</label>
        <input id="start_date" type="text" class="form-control" id="firstName1"
               placeholder="" name="start_date" data-value="{{.Coupon.StartDate}}" required>
    </div>*/}}

    <div class="col-md-6 form-group mb-3">
        <label for="firstName1">End Date</label>
        <input id="end_date" type="text" class="form-control" id="firstName1"
               placeholder="Enter UTC Time" name="end_date" data-value="{{.Coupon.EndDate}}" required>
    </div>

    <div class="col-md-6 form-group mb-3">
        <label for="firstName1">Coupon Code</label>
        <input type="text" class="form-control" id="firstName1"
               placeholder="Enter a new coupon code" name="Code" value="{{.Coupon.Code}}" disabled>
    </div>

    <div class="col-md-12 form-group mb-3">
        <label for="exampleInputEmail1">Description</label>
        <textarea class="form-control" aria-label="With textarea" id="summernote"
                  name="Description" rows="10">{{.Coupon.Description}}</textarea>
    </div>

    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Update Coupon</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        /*var stDt = $("#start_date").data("value");
        stDt = formatTime(stDt);
        $("#start_date").val(stDt);*/

        var endDt = $("#end_date").data("value");
        endDt = formatTime(endDt);
        $("#end_date").val(endDt);

        $("#end_date").on("change",function () {
            var startDate = new Date($("#start_date").val());
            var endDate = new Date($(this).val());
            if (startDate.getTime() > endDate.getTime()) {
                alert("End Date can't be less than Start Date.");
                $(this).val("");
            }
        });
    });


    formatTime = function(str) {
        d = str.substr(0, 10);
        t = str.substr(11, 5);
        dt = d + " " + t;
        return dt;
    };

    var val = $("#coup-type").val();
    if (val === "1") {
        $("#type-value-div").append(`<span class="inside-value">%</span>`);
        $("#type-value-label").text("Discount");
        $("#type-value-input").attr("placeholder", "Enter discount amount");
    } else if (val === "2") {
        $(".inside-value").remove();
        $("#type-value-label").text("Bid Amount");
        $("#type-value-input").attr("placeholder", "Enter bid amount");
    }

    $("#coup-type").change(function () {
        var val = $(this).val();
        if (val === "1") {
            $("#type-value-div").append(`<span class="inside-value">%</span>`);
            $("#type-value-label").text("Discount");
            $("#type-value-input").attr("placeholder", "Enter discount amount");
            $("#validity").hide();
            $("#validity-input").removeAttr("required");
        } else if (val === "2") {
            $(".inside-value").remove();
            $("#type-value-label").text("Bid Amount");
            $("#type-value-input").attr("placeholder", "Enter bid amount");
            $("#validity").removeAttr("hidden");
            $("#validity-input").attr("required","");
            $("#validity").show();
        }
    });

</script>

{{template "adminFooter" .}}