{{template "adminHeader" .}}

<table id="table" class="display table table-striped table-bordered"
       style="width:100%">
    <thead>
    <tr>
        <th>Order Id</th>
        <th>Total Price</th>
        <th>Customer Name</th>
    </tr>
    </thead>

</table>

<script src="/assets/Public/Admin/js/datatables.script.js"></script>
<script src="/assets/Public/Admin/js/vendor/datatables.min.js"></script>
<script>
    $('#table').DataTable({
        processing: true,
        serverSide: true,
        pageLength: 10,
        bLengthChange: true,
        responsive:true,
        ajax: {
            url:'{{.AppEnv.Url}}/order-datatable',
            method:'post',
            dataFilter: function(data){
                var json = jQuery.parseJSON( data );
                for (i=0; i<json.data.length; i++) {
                    json.data[i].Name = json.data[i].User.FirstName+" "+json.data[i].User.LastName;
                }

                return JSON.stringify( json );
            }
        },
        order:[0,'desc'],
        /*autoWidth:false,
        language: {
            paginate: {
                next: 'Next &#8250;',
                previous: '&#8249; Previous'
            },
            search: "_INPUT_",
            searchPlaceholder: "Search..."
        },*/
        columns: [
            {"data": "ID"},
            {"data": "GrandTotal"},
            {"data": "Name", "searchable":false, "orderable":false}
        ]
    });
</script>

{{template "adminFooter" .}}