{{template "adminHeader" .}}
<div class="container">
    <h3 class="card-title mb-3">Customer Details</h3>
    <div class="table-responsive">
        <table class="display table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Country</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{.Order.User.FirstName}} {{.Order.User.LastName}}</td>
                <td>{{.Order.User.Email}}</td>
                {{if ne .Order.User.Phone ""}}
                    <td class="center">{{.Order.User.Phone}}</td>
                {{else}}
                    <td class="center">N/A</td>
                {{end}}

                {{if ne .Order.User.CountryCode ""}}
                    <td class="center">{{.Order.User.CountryCode}}</td>
                {{else}}
                    <td class="center">N/A</td>
                {{end}}

            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class='container'>
    <h3>Order Details</h3>
    <table class="display table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product Title</th>
            <th>Discount</th>
            <th>Product Price</th>
            <th>Gram Amount</th>
        </tr>
        </thead>
        <tbody>
        {{range .Order.OrderDetails}}
            <tr>
                <td class="center"><img src="/assets{{.ProductImgUrl.String}}" style="height:60px;width:60px">
                <td>{{.ProductTitle}}</td>
                {{/*{{if ne .Product.Type 2}}*/}}
                <td>
                    {{/*€*/}} {{.TotalDiscount}}({{.Product.Discount}}%)
                </td>
                <td><span><script>document.write(({{.ProductPrice}}).toString());</script></span></td>
                <td><span><script>document.write(({{.ProductGrmAmount}}).toString());</script></span></td>

                {{/*{{else if eq .Product.Type 2}}*/}}
                    {{/*<td>{{.Total}}</td>
                    <td>{{.Quantity}}</td>*/}}
                {{/*{{end}}*/}}
                {{/*<td>{{.Total}}</td>*/}}
                {{/*<td>{{.TotalTax}}</td>
                <td>{{.TotalWithTax}}</td>*/}}
            </tr>
        {{end}}
        </tbody>
        <tfoot>
        <tr>
            <td><b>Grand Total</b></td>
            <td></td>
            <td><b> = <script>document.write(({{.Order.TotalDiscount}}).toString());</script></b></td>
            <td><b> = <script>document.write(({{.Order.GrandTotal}}).toString());</script><br> <span>(Including Fees & Discount)</span></b></td>
            <td><b> = <script>document.write(({{.Order.TotalGrmAmount}}).toString());</script></b></td>
        </tr>
        </tfoot>
    </table>
    <br><br>
</div>

{{if eq .Order.DeliveryType 2}}
    <div class="container">
        <br><br>
        <h4>Shipping Information</h4><br>
        <p><strong>Name:</strong> &nbsp{{.Order.OrderShippingAddress.FirstName}} {{.Order.OrderShippingAddress.LastName}}</p>
        <p><strong>Address:</strong> &nbsp{{.Order.OrderShippingAddress.Address}}</p>
        <p><strong>Apartment:</strong> &nbsp{{.Order.OrderShippingAddress.Apartment}}</p>
        <p><strong>City:</strong> &nbsp{{.Order.OrderShippingAddress.City}}</p>
        <p><strong>Zip Code:</strong> &nbsp{{.Order.OrderShippingAddress.ZipCode}}</p>
        <p><strong>State:</strong> &nbsp{{.Order.OrderShippingAddress.State}}</p>
        <p><strong>Country:</strong> &nbsp{{.Order.OrderShippingAddress.Country}}</p>
        <p><strong>Phone:</strong> &nbsp{{.Order.OrderShippingAddress.Phone}}</p>

        <p><strong>Tracking Code:</strong> &nbsp{{.Order.TrackCode}}</p>
    </div>
{{end}}

<div class="container">
    <br><br>
    <h4>Coupon Information</h4><br>
    {{if gt .Order.CouponOrder.ID 0}}
        <p><strong>Coupon Applied:</strong> &nbspYes
            {{if eq .Order.CouponOrder.Coupon.Type 1}}
                ({{.Order.CouponOrder.Coupon.Amount}}% discount)
            {{else if eq .Order.CouponOrder.Coupon.Type 2}}
                (Free Bids Coupon)
            {{end}}
        </p>
    {{else}}
        <p><strong>Coupon Applied:</strong> &nbspNo</p>
    {{end}}
</div>

{{if eq .Order.PayMethodID 2}}
    <div class="container">
        <br><br>
        <h4>Mollie Details</h4><br>
        <p><strong>Mollie Payment ID:</strong> &nbsp{{.Order.UniqueCode}}</p>
    </div>
{{end}}

{{if eq .Order.PayMethodID 1}}
    <div class="container">
        <br><br>
        <h4>Stripe Details</h4><br>
        <p><strong>Stripe Charge ID:</strong> &nbsp{{.Order.UniqueCode}}</p>
    </div>
{{end}}

{{if eq .Order.PayMethodID 4}}
    <div class="container">
        <br><br>
        <h4>Lusopay Details</h4><br>
        <p><strong>Entity:</strong> &nbsp{{.Order.Lusopay.Entity}}</p>
        <p><strong>Reference Code: </strong>{{.Order.UniqueCode}}<br>
    </div>
{{end}}

{{if .Order.BankID.Valid}}
    <div class='container'>
        <br><br>
        <h4>Bank Details</h4><br>
        <p><strong>Bank Name:</strong> &nbsp{{.Order.Bank.Name}}</p>
        <p>{{.Order.Bank.Details}}</p>
        <p><strong>Reference Code: </strong>{{.Order.UniqueCode}}<br>
        <br>
    </div>

    <div class='container'>
        <h3>Documents</h3>
        <div class="row">
            {{if gt .LenDoc 0}}
            {{range .Order.OrderDocs}}
                <div class="col-sm-2">
                    <a href="/assets{{.DocUrl.String}}" target="_blank">
                        {{if eq .Type 1}}
                            <img src="/assets{{.DocUrl.String}}">
                        {{else if eq .Type 2}}
                            <span class="fa fa-file-pdf-o" style="font-size:48px;color:red"></span>
                        {{end}}
                    </a>
                </div>
            {{end}}
                {{else}}
                <p>No documents available.</p>
                {{end}}
        </div>
        <br><br>
    </div>
{{end}}

{{template "adminFooter" .}}