{{template "adminHeader" .}}
<h4 class="card-title mb-3">All Users</h4>
<div class="table-responsive">
    <table id="zero_configuration_table" class="display table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
            <th>Created At</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {{range .Users}}
            <tr>
                <td class="center">{{.UserModel.FirstName}} {{.UserModel.LastName}}</td>
                <td class="center">{{.UserModel.Email}}</td>
                {{if ne .UserModel.Phone ""}}
                    <td class="center">{{.UserModel.Phone}}</td>
                {{else}}
                    <td class="center">N/A</td>
                {{end}}

                {{if ne .UserModel.CountryCode ""}}
                    <td class="center">{{.UserModel.CountryCode}}</td>
                {{else}}
                    <td class="center">N/A</td>
                {{end}}
                <td class="center">{{.CreatedAt}}</td>
                <td class="center">
                    {{if (eq .UserModel.ActiveStatus 1)}}

                        <span class="badge badge-pill badge-success p-2 m-1">Active</span>

                    {{else if (eq .UserModel.ActiveStatus 0)}}

                        <span class="badge badge-pill badge-light p-2 m-1">Inactive</span>

                    {{else if (eq .UserModel.ActiveStatus 2)}}

                        <span class="badge badge-pill badge-danger p-2 m-1">Suspended</span>

                    {{end}}
                </td>

                <td class="center">
                    {{if (eq .UserModel.ActiveStatus 1)}}
                        <a href="/make-user-suspend/{{.UserModel.ID}}">
                            <img src="/assets/Public/Admin/images/thumb_down.png" style="height: 20px; width: 20px" title="Suspend User">
                        </a>

                    {{else if (ne .UserModel.ActiveStatus 1)}}
                        <a href="/make-user-active/{{.UserModel.ID}}">
                            <img src="/assets/Public/Admin/images/thumb_up.png" style="height: 15px; width: 15px" title="Make User Active">
                        </a>
                    {{end}}

                    &nbsp&nbsp<a class="text-success mr-2" href="/user-orders/{{.UserModel.ID}}">
                        <i class="nav-icon i-Eye font-weight-bold" title="See User's Orders"></i>
                    </a>
                    {{/*&nbsp&nbsp<a class="text-danger mr-2 confirm-anchor" href="/delete-user/{{.UserModel.ID}}" class="confirm-anchor" data-header="Want to Delete?">
                        <i class="nav-icon i-Close-Window font-weight-bold" title="Delete"></i>
                    </a>*/}}
                </td>
            </tr>
        {{end}}

        </tbody>
    </table>
</div>

{{template "adminFooter" .}}