{{template "adminHeader" .}}
{{template "addTrackCode" .}}

<h4 class="card-title mb-3">Wallet History</h4>
    <p>Wallet history of {{(index .Wallet.Users 0).FirstName}} {{(index .Wallet.Users 0).LastName}} ({{(index .Wallet.Users 0).Email}})</p>
<div class="table-responsive">
    <table id="zero_configuration_table2" class="display table table-striped table-bordered"
           style="width:100%">
        <thead>
        <tr>
            <th>History ID</th>
            <th>Wallet ID</th>
            <th>Amount Before</th>
            <th>Amount Added</th>
            <th>Amount After</th>
            <th>Note</th>
            <th>Created At</th>
            {{/*<th>Option</th>*/}}
        </tr>
        </thead>
        <tbody>

        {{range .Wallet.WalletHistories}}
            <tr>
                <td>#<script>document.write(10000+{{.ID}});</script></td>
                <td class="center">#<script>document.write(10000+{{.WalletID}});</script></td>
                <td class="center"><script>document.write(({{.GoldAmountBefore}}).toString());</script>g</td>
                <td class="center"><script>document.write(({{.AddedGoldAmount}}).toString());</script>g</td>
                <td class="center"><script>document.write(({{.GoldAmountAfter}}).toString());</script>g</td>
                <td class="center">{{.Note}}</td>
                <td class="center"><script>
                        str = {{.CreatedAt}};
                        d = str.substr(0, 10);
                        t = str.substr(11, 8);
                        dt = d + " " + t;
                        document.write(dt);
                    </script></td>
                {{/*<td class="center">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu window-size" aria-labelledby="dropdownMenuButton">
                            <ul align="left">
                                <li>
                                    <a href="/wallet-history/{{.ID}}">
                                        View History
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>*/}}
            </tr>
        {{end}}

        </tbody>
    </table>
</div>

{{template "adminFooter" .}}