{{template "adminHeader" .}}
{{template "addTrackCode" .}}

<h4 class="card-title mb-3">User Wallets</h4>
<div class="table-responsive">
    <table id="zero_configuration_table2" class="display table table-striped table-bordered"
           style="width:100%">
        <thead>
        <tr>
            <th>Wallet ID</th>
            <th>User Email</th>
            <th>Name</th>
            <th>Gold Amount</th>
            <th>Last Updated</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody>

        {{range .Wallets}}
            <tr>
                <td>#<script>document.write(10000+{{.ID}});</script></td>
                <td class="center">{{(index .Users 0).Email}}</td>
                <td class="center">{{(index .Users 0).FirstName}} {{(index .Users 0).LastName}}</td>
                <td class="center"><script>document.write(({{.GoldAmount}}).toString());</script>g</td>
                <td class="center"><script>
                        str = {{.UpdatedAt}};
                        d = str.substr(0, 10);
                        t = str.substr(11, 8);
                        dt = d + " " + t;
                        document.write(dt);
                    </script></td>
                <td class="center">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu window-size" aria-labelledby="dropdownMenuButton">
                            <ul align="left">
                                <li>
                                    <a href="/wallet-history/{{.ID}}">
                                        View History
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        {{end}}

        </tbody>
    </table>
</div>

{{template "adminFooter" .}}