{{template "adminHeader" .}}

<div class="col-md-12 mb-4">
    <div class="card text-left">

        {{/*<div class="card-body">*/}}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link {{if (eq .Data "prm")}} active {{end}}" id="home-basic-tab" data-toggle="tab"
                   href="#homeBasic" role="tab"
                   aria-controls="homeBasic" aria-selected="true">Primary Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{if (eq .Data "home-content")}} active {{end}}" id="contact-basic-tab" data-toggle="tab"
                   href="#home-content" role="tab"
                   aria-controls="contactBasic" aria-selected="false">Home Content Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{if (eq .Data "page")}} active {{end}}" id="contact-basic-tab" data-toggle="tab"
                   href="#payMethod" role="tab"
                   aria-controls="contactBasic" aria-selected="false">Page Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{if (eq .Data "menu")}} active {{end}}" id="profile-basic-tab" data-toggle="tab"
                   href="#profileBasic" role="tab"
                   aria-controls="profileBasic" aria-selected="false">Menu Settings</a>
            </li>
            {{/*<li class="nav-item">
                    <a class="nav-link {{if (eq .Data "gs")}} active {{end}}" id="contact-basic-tab" data-toggle="tab"
                       href="#contactBasic" role="tab"
                       aria-controls="contactBasic" aria-selected="false">General Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{if (eq .Data "ets")}} active {{end}}" id="contact-basic-tab" data-toggle="tab"
                       href="#emailTemp" role="tab"
                       aria-controls="contactBasic" aria-selected="false">Email Template Settings</a>
                </li>*/}}
        </ul>
        <br><br>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade {{if (eq .Data "prm")}} show active {{end}}" id="homeBasic" role="tabpanel"
                 aria-labelledby="home-basic-tab">
                <form action="/update-website-settings" method="post" enctype="multipart/form-data">
                    {{range .Wbsts}}
                        {{if eq .ContentName "Header Logo"}}
                            <div class="col-md-12 form-group mb-3">
                                <label for="credit1">Change Header Logo</label>
                                {{/*<div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                           aria-describedby="inputGroupFileAddon01" name="hd_logo"><br><br><br>
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>*/}}
                                <div class="col-md-6 form-group mb-3">
                                    {{/*<label for="credit1">Upload Image</label>*/}}
                                    <div id="file-upload" class="section">
                                        <!--Default version-->
                                        <div class="row section">
                                            <div class="col s6 m5 l9">
                                                <input type="file" id="file" ref="file" {{/*v-on:change="handleFileUpload()"*/}}
                                                       type="file" name="hd_logo" id="input-file-now" class="dropify" data-default-file="/assets{{.Content}}"/>
                                            </div>
                                        </div>
                                        <!--Default value-->
                                        <div class="divider"></div>
                                    </div>
                                </div><br><br>
                            </div>
                        {{end}}
                    {{/*{{end}}*/}}

                        {{if eq .ContentName "Login-Signup Header Logo"}}
                            <div class="col-md-12 form-group mb-3">
                                <label for="credit1">Change Login-Signup Header Logo</label>
                                {{/*<div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                           aria-describedby="inputGroupFileAddon01" name="hd_logo"><br><br><br>
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>*/}}
                                <div class="col-md-6 form-group mb-3">
                                    {{/*<label for="credit1">Upload Image</label>*/}}
                                    <div id="file-upload" class="section">
                                        <!--Default version-->
                                        <div class="row section">
                                            <div class="col s6 m5 l9">
                                                <input type="file" id="file" ref="file" {{/*v-on:change="handleFileUpload()"*/}}
                                                       type="file" name="hd_logo" id="input-file-now" class="dropify" data-default-file="/assets{{.Content}}"/>
                                            </div>
                                        </div>
                                        <!--Default value-->
                                        <div class="divider"></div>
                                    </div>
                                </div><br><br>
                            </div>
                        {{end}}

                    {{/*{{range .Wbsts}}*/}}
                        {{if eq .ContentName "Footer Logo"}}
                            <div class="col-md-12 form-group mb-3">
                                <label for="credit1">Change Footer Logo</label>
                                {{/*<div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                           aria-describedby="inputGroupFileAddon01" name="ft_logo"><br><br><br>
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>*/}}
                                <div class="col-md-6 form-group mb-3">
                                    {{/*<label for="credit1">Upload Image</label>*/}}
                                    <div id="file-upload" class="section">
                                        <!--Default version-->
                                        <div class="row section">
                                            <div class="col s6 m5 l9">
                                                <input type="file" id="file" ref="file" {{/*v-on:change="handleFileUpload()"*/}}
                                                       type="file" name="ft_logo" id="input-file-now" class="dropify" data-default-file="/assets{{.Content}}"/>
                                            </div>
                                        </div>
                                        <!--Default value-->
                                        <div class="divider"></div>
                                    </div>
                                </div><br><br>
                            </div>
                        {{end}}
                    {{/*{{end}}*/}}

                    {{/*{{range .Wbsts}}*/}}
                        {{if eq .ContentName "Footer Text"}}
                            <div class="col-md-6 form-group mb-3">
                                <div class="col-md-12 form-group mb-3">
                                    <label for="firstName1">Change Footer Text</label>
                                    <textarea class="form-control" aria-label="With textarea" name="footer_text"
                                              rows="6" cols="10">{{.Content}}</textarea><br><br><br>
                                </div>
                            </div>
                        {{end}}
                    {{/*{{end}}*/}}

                    {{/*{{range .Wbsts}}*/}}
                        {{if eq .ContentName "Copyright Text"}}
                            <div class="col-md-6 form-group mb-3">
                                <div class="col-md-12 form-group mb-3">
                                    <label for="firstName1">Change Copyright Text</label>
                                    <textarea class="form-control" aria-label="With textarea" name="cpr_text"
                                              rows="6" cols="10">{{.Content}}</textarea><br><br><br>
                                </div>
                            </div>
                        {{end}}
                    {{end}}
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>


            <div class="tab-pane {{if (eq .Data "page")}} show active {{end}} fade" id="payMethod"
                 role="tabpanel" aria-labelledby="profile-basic-tab">
                {{/*<div class="card mt-4">
                        <div class="card-body">*/}}
                <div class="accordion" id="accordionRightIcon">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h6 class="card-title ul-collapse__icon--size ul-collapse__right-icon mb-0">
                                <a data-toggle="collapse" class="text-default collapsed"
                                   href="#accordion-item-icon-right-2" style="color:black">All Pages</a>
                            </h6>
                        </div>
                        <div id="accordion-item-icon-right-2" class="collapse "
                             data-parent="#accordionRightIcon">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="zero_configuration_table2"
                                           class="display table table-striped table-bordered"
                                           style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Page Title</th>
                                            <th>Page URL</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {{range .Pages}}
                                            <tr>
                                                <td class="center">{{.Title}}</td>
                                                <td class="center">{{.Url}}</td>
                                                <td class="center">
                                                    {{if (eq .Status 1)}}

                                                        <span class="badge badge-pill badge-success p-2 m-1">Active</span>

                                                    {{else if (eq .Status 0)}}

                                                        <span class="badge badge-pill badge-light p-2 m-1">Inactive</span>

                                                    {{end}}
                                                </td>

                                                <td class="center">
                                                    {{if (eq .Status 1)}}
                                                        <a href="/make-page-inactive/{{.ID}}">
                                                            <img src="/assets/Public/Admin/images/thumb_down.png"
                                                                 style="height: 20px; width: 20px"
                                                                 title="Make Inactive">
                                                        </a>

                                                    {{else if (eq .Status 0)}}
                                                        <a href="/make-page-active/{{.ID}}">
                                                            <img src="/assets/Public/Admin/images/thumb_up.png"
                                                                 style="height: 15px; width: 15px"
                                                                 title="Make Active">
                                                        </a>
                                                    {{end}}

                                                    &nbsp&nbsp<a class="text-success mr-2"
                                                                 href="/edit-page/{{.ID}}">
                                                        <i class="nav-icon i-Pen-2 font-weight-bold"
                                                           title="Edit"></i>
                                                    </a>
                                                    <a class="text-danger mr-2 confirm-anchor" href="/delete-page/{{.ID}}"
                                                       class="confirm-anchor" data-header="Want to Delete?">
                                                        <i class="nav-icon i-Close-Window font-weight-bold"
                                                           title="Delete"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {{end}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card ">
                        <div class="card-header header-elements-inline">
                            <h6 class="card-title ul-collapse__icon--size ul-collapse__right-icon mb-0">
                                <a data-toggle="collapse" class="text-default collapsed"
                                   href="#accordion-item-icon-right-1"
                                   aria-expanded="false" style="color:black">Add Page</a>
                            </h6>
                        </div>
                        <div id="accordion-item-icon-right-1" class="collapse"
                             data-parent="#accordionRightIcon"
                             style="">
                            <div class="card-body">
                                <form action="/add-page" method="post">

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="firstName1">Page Title</label>
                                        <input type="text" class="form-control" id="firstName1"
                                               placeholder="Enter Page Title" name="title" required>
                                    </div>

                                    <div class="col-md-12 form-group mb-3">
                                        <label for="exampleInputEmail1">Content (Text or HTML)</label>
                                        <textarea class="form-control" aria-label="With textarea" id="summernote"
                                                  name="text_content" rows="10"></textarea>
                                    </div>
                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

                                    <div class="col-md-6 form-group mb-3">
                                        <label class="checkbox checkbox-primary">
                                            <input type="checkbox" value="1" name="status">
                                            <span>Active Status</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">Add Page</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{/*</div>
                    </div>*/}}
            </div>

            <div class="tab-pane {{if (eq .Data "menu")}} show active {{end}} fade" id="profileBasic"
                 role="tabpanel" aria-labelledby="profile-basic-tab">
                <div class="accordion" id="accordionRightIcon">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h6 class="card-title ul-collapse__icon--size ul-collapse__right-icon mb-0">
                                <a data-toggle="collapse" class="text-default collapsed"
                                   href="#accordion-item-icon-right-2" style="color:black">All Menus</a>
                            </h6>
                        </div>
                        <div id="accordion-item-icon-right-2" class="collapse "
                             data-parent="#accordionRightIcon">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="zero_configuration_table2"
                                           class="display table table-striped table-bordered"
                                           style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Menu Title</th>
                                            <th>Linked Page or URL</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {{range .Menus}}
                                            <tr>
                                                <td class="center">{{.Title}}</td>
                                            {{if and (gt .ID 3) (lt .ID 8)}}
                                                <td class="center">{{.PageUrl}}</td>
                                                    {{else if lt .ID 4}}
                                                <td class="center">#</td>
                                                    {{else if eq .Type 2}}
                                                <td class="center">{{.Page.Title}}</td>
                                                {{else if eq .Type 1}}
                                                    <td class="center">{{.PageUrl}}</td>
                                                    {{end}}
                                                <td class="center">
                                                    {{if (eq .Status 1)}}

                                                        <span class="badge badge-pill badge-success p-2 m-1">Active</span>

                                                    {{else if (eq .Status 0)}}

                                                        <span class="badge badge-pill badge-light p-2 m-1">Inactive</span>

                                                    {{end}}
                                                </td>

                                                <td class="center">
                                                    {{if gt .ID 3}}
                                                        {{if (eq .Status 1)}}
                                                            <a href="/make-menu-inactive/{{.ID}}">
                                                                <img src="/assets/Public/Admin/images/thumb_down.png"
                                                                     style="height: 20px; width: 20px"
                                                                     title="Make Inactive">
                                                            </a>

                                                        {{else if (eq .Status 0)}}
                                                            <a href="/make-menu-active/{{.ID}}">
                                                                <img src="/assets/Public/Admin/images/thumb_up.png"
                                                                     style="height: 15px; width: 15px"
                                                                     title="Make Active">
                                                            </a>
                                                        {{end}}
                                                    {{end}}

                                                    &nbsp&nbsp<a class="text-success mr-2"
                                                                 href="/edit-menu/{{.ID}}">
                                                        <i class="nav-icon i-Pen-2 font-weight-bold"
                                                           title="Edit"></i>
                                                    </a>
                                                    {{if gt .ID 7}}
                                                        <a class="text-danger mr-2 confirm-anchor" href="/delete-menu/{{.ID}}"
                                                           class="confirm-anchor" data-header="Want to Delete?">
                                                            <i class="nav-icon i-Close-Window font-weight-bold"
                                                               title="Delete"></i>
                                                        </a>
                                                    {{end}}
                                                </td>
                                            </tr>
                                        {{end}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card ">
                        <div class="card-header header-elements-inline">
                            <h6 class="card-title ul-collapse__icon--size ul-collapse__right-icon mb-0">
                                <a data-toggle="collapse" class="text-default collapsed"
                                   href="#accordion-item-icon-right-1"
                                   aria-expanded="false" style="color:black">Add Menu</a>
                            </h6>
                        </div>
                        <div id="accordion-item-icon-right-1" class="collapse"
                             data-parent="#accordionRightIcon"
                             style="">
                            <div class="card-body">
                                <form action="/add-menu" method="post">

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="firstName1">Menu Title</label>
                                        <input type="text" class="form-control" id="firstName1"
                                               placeholder="Enter Menu Title" name="title" required>
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Select Position</label>
                                        <select class="form-control" name="parent_id" required>
                                            <option value="">--</option>
                                            <option value="1">Footer Left</option>
                                            <option value="2">Footer Middle</option>
                                            <option value="3">Footer Right</option>
                                            <option value="4">Top Right</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Bind Type</label>
                                        <select class="form-control" name="type" required id="type">
                                            <option value="">--</option>
                                            <option value="1">URL</option>
                                            <option value="2">Page</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group mb-3" id="pageType" hidden>
                                        <label for="picker1">Select Page</label>
                                        <select class="form-control" name="page">
                                            <option value="">--</option>
                                            {{range .Pages}}
                                                <option value="{{.Url}}">{{.Title}}</option>
                                            {{end}}
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group mb-3" id="urlType" hidden>
                                        <label for="urlF">Add Url</label>
                                        <input type="text" class="form-control" id="urlF"
                                               placeholder="Enter URL" name="url" value="{{.Menu.PageUrl}}">
                                    </div>
                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

                                    <div class="col-md-6 form-group mb-3">
                                        <label class="checkbox checkbox-primary">
                                            <input type="checkbox" value="1" name="status">
                                            <span>Active Status</span>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">Add Menu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane {{if (eq .Data "home-content")}} show active {{end}} fade" id="home-content"
                 role="tabpanel" aria-labelledby="profile-basic-tab">

                <div class="card-body">
                    {{/*<div class="col-sm-12">
                        <a href="/add-slider" class="btn btn-rounded btn-success pull-right">Add New Slider</a>
                    </div><br><br><br>*/}}
                    <div class="table-responsive">
                        <table id="zero_configuration_table1231"
                               class="display table table-striped table-bordered"
                               style="width:100%">
                            <thead>
                            <tr>
                                <th>Text Content</th>
                                <th>Image Content</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{range .HomeContents}}
                                <tr>
                                    <td class="center">{{.TextContent}}</td>
                                    <td class="center"><img onerror="this.src = '/assets/Public/User/images/no-image-available.png';" src="/assets/{{.Image}}" style="height:40px;width:100px"></td>
                                    {{/*<td><label class="switch pr-5 switch-success mr-3">
                                            {{if eq .Status 1}}
                                                <input onchange="update_status(this, {{.ID}}, 'slider')" value="1" type="checkbox" checked="">
                                            {{else if eq .Status 0}}
                                                <input onchange="update_status(this, {{.ID}}, 'slider')" value="0" type="checkbox">
                                            {{end}}
                                            <span class="slider"></span></label>
                                    </td>*/}}

                                    <td class="center">
                                        <div class="dropdown">
                                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu window-size" aria-labelledby="dropdownMenuButton">
                                                <ul align="left">
                                                    <li>
                                                        <a href="/edit-home-content/{{.ID}}">Edit</a>
                                                    </li>
                                                    {{/*<li>
                                                        <a href="/delete-slider/{{.ID}}" class="delete-anchor">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                                        </a>
                                                    </li>*/}}
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {{end}}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            {{/*<div class="tab-pane {{if (eq .Data "ets")}} show active {{end}} fade" id="emailTemp"
                 role="tabpanel" aria-labelledby="profile-basic-tab">
                Email Template
            </div>*/}}
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#type").change(function () {
            var val = $("#type").val();
            if (val == 2) {
                $("#pageType").removeAttr("hidden");
                $("#urlType").hide();
                $("#pageType").show();
            } else if (val == 1) {
                $("#urlType").removeAttr("hidden");
                $("#pageType").hide();
                $("#urlType").show();
            }
        });
    });
</script>

{{template "adminFooter" .}}