<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Lang.ConvertString "Bank transfer Details"}}</title>
</head>

<body bgcolor="#ffffff" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
{{/*<p align="center">{{.AppEnv.Name}}</p><br><br>*/}}

<table cellpadding="0" cellspacing="0"  style="max-width:1000px; width:800px;margin:auto; padding: 10px;" bgcolor="#fafafa";>
    <tr>
        <td align="center" >
            <img width="150px" src="{{.AppEnv.Url}}/assets{{range .Wbsts}}{{if (eq .ContentName "Header Logo")}}{{.Content}}{{end}}{{end}}" alt="">
        </td>
    </tr>
    <tr>
        <td align="center" >
            <h3> {{.Lang.ConvertString "Bank Transfer Information"}}</h3>
        </td>
    </tr>
    <tr>
        <td align="left" colspan="3" >
            <br>
            <p style="font-weight: normal"><strong>Name:</strong> {{.User.FirstName}} {{.User.LastName}}</p>
            <p style="font-weight: normal"><strong>Email:</strong> {{.User.Email}}</p>
        </td>
    </tr>

    <tr>
        <td align="left" colspan="2" >
            <h3>{{.Lang.ConvertString "Payment by Bank Transfer (somente euro)"}}</h3>
        </td>
    </tr>
    <tr>

        <td colspan="2">
            <table style="border: 1px solid #ddd; padding: 10px; width: 100%;">
                <thead>
                    <th style="border: 1px solid #ddd; padding: 10px; width: 100px;">{{.Lang.ConvertString "Product Name"}}</th>
                    <th style="border: 1px solid #ddd; padding: 10px; width: 100px;">{{.Lang.ConvertString "Price"}}</th>
                    <th style="border: 1px solid #ddd; padding: 10px; width: 100px;">{{.Lang.ConvertString "Bid Amount"}}</th>
                </thead>
                <tbody>
                {{range .FinalCart.Carts}}
                    <tr>
                        {{/*<td><img src='/assets{{.Product.ImgUrl.String}}' alt=""/></td>*/}}
                        <td style="border: 1px solid #ddd; padding: 10px; width: 100px;" align="center">
                            {{.Product.Title}}
                        </td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 100px;" align="center"><script>document.write(({{.Product.Price}}).toString());</script></td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 100px;" align="center">
                            <script>document.write(({{.Product.GrmAmount}}).toString());</script>
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <br>
            <br>
        </td>
    </tr>

    <tr>
        <td align="left" colspan="2" >
            <h3>{{.Lang.ConvertString "Cart Totals"}}</h3>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <table style="border: 1px solid #ddd; padding: 10px; width: 100%;">
                <tr>
                    <td colspan="2"><span style="width: 200px;display: inline-block"><strong>{{.Lang.ConvertString "Total Bids"}}</strong></span> : <script>document.write(({{.FinalCart.TotalBids}}).toString());</script></td>
                </tr>
                <tr>
                    <td colspan="2"><span style="width: 200px;display: inline-block"><strong>{{.Lang.ConvertString "Sub Total Price"}}</strong></span> : € <script>document.write(({{.FinalCart.SubTotal}}).toString());</script></td>
                </tr>
                <tr>
                    <td colspan="2"><span style="width: 200px;display: inline-block"><strong>{{.Lang.ConvertString "Fees"}} ({{.FinalCart.Fees}}%)</strong></span> : € <script>document.write(({{.FinalCart.TotalFees}}).toString());</script></td>
                </tr>
                <tr>
                    <td colspan="2"><span style="width: 200px;display: inline-block"><strong>{{.Lang.ConvertString "VAT"}} ({{.FinalCart.VAT}}%) </strong></span> : € <script>document.write(({{.FinalCart.TotalVAT}}).toString());</script></td>
                </tr>
                <tr>
                    <td colspan="2"><span style="width: 200px;display: inline-block"><strong>{{.Lang.ConvertString "Grand Total Price"}} </strong></span> : € <script>document.write(({{.FinalCart.GrandTotal}}).toString());</script></td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td>
            <br>
            <br>
        </td>
    </tr>

    <tr>
        <td align="left" colspan="2" >
            <h3>{{.Lang.ConvertString "Company Bank Details"}}</h3>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="border: 1px solid #ddd; padding: 10px">
                <p>
                    <strong>{{.Lang.ConvertString "Bank Name:"}}</strong> {{.Bank.Name}}
                    <span  style="margin-left: 40px">{{.Bank.Details}}</span>
                    <strong>{{.Lang.ConvertString "Reference Number:"}}</strong> {{.UniqueCode}}<br>
                    <span>({{.Lang.ConvertString "Use this code as identification when making the deposit."}})</span>
                </p>
                {{/*<tr>
                    <td colspan="2"><span  style="margin-left: 40px">{{.Bank.Details}}</span></td>
                </tr>
                <tr>
                    <td colspan="2"><strong>{{.Lang.ConvertString "Reference Number:"}}</strong>{{.UniqueCode}}</td>
                </tr>*/}}
            </div>
        </td>
    </tr>

    {{/*<tr>
        <tr>
            <td style="border: 1px solid #ddd; padding: 10px; width: 100%;"><strong style="width: 200px;display: inline-block">{{.Lang.ConvertString "Contact us:"}}</strong> {{.CompanyEmail}}</td>
        </tr>
    </tr>*/}}
    </tbody>
</table>
<br><br>
<p align="center">{{.Lang.ConvertString "Contact us:"}} {{.Adm.Company_Email.Value.String}}</p>
{{/*<p align="center">{{range .Wbsts}}{{if (eq .ContentName "Copyright Text")}}{{.Content}}{{end}}{{end}} {{.AppEnv.Name}}. Visit <span style="color:blue">{{.AppEnv.Url}}</span></p>*/}}
</body>

</html>

