
{{template "authHeader" . }}

<div class="gold-user-area-content">
    <div class="container">
        <div class="gold-user-area-title">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Forgot your password?</h3>
                    {{/*<p>Lorem Ipsum Dolor Sit Amet Delirium</p>*/}}
                </div>
            </div>
        </div>
        <form action="/send-password-reset-link" method="post">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Type your email" name="email" required>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-5 col-md-6">
                    <div class="form-group m-0">
                        <button class="btn gold-user-submit-btn" type="submit">Send Password Reset Link</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12 text-center mt-5">
                <a class="gold-user-forgetpass" href="/login">Go to login</a>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>


{{template "authFooterWithScripts" . }}



{{template "authFooterFinal" . }}




