
{{template "authHeader" . }}

<div class="gold-user-area-content">
    <div class="container">
        <div class="gold-user-area-title">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Reset Password</h3>
                    {{/*<p>Lorem Ipsum Dolor Sit Amet Delirium</p>*/}}
                </div>
            </div>
        </div>
        <form action="/reset-password" method="post">
            <input name="email" type="hidden" value="{{.PS.Email}}">
            <input name="token" type="hidden" value="{{.PS.Token}}">

            <div class="row">
                <div class="col-md-12 col-12">
                    <label>New Password</label>
                    <input name="password" class="form-control" id="password" type="password" placeholder="Password" required>
                </div>
                <div class="col-md-12 col-12">
                    <br>
                </div>
                <div class="col-md-12 col-12">
                    <label>Confirm Password</label>
                    <input name="confirm_password" class="form-control" id="confirm-password" type="password" placeholder="Confirm your password" required>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-5 col-md-6">
                    <div class="form-group m-0">
                        <button class="btn gold-user-submit-btn" type="submit">Reset Password</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12 text-center mt-5">
                <a class="gold-user-forgetpass" href="/login">Go to login</a>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>


{{template "authFooterWithScripts" . }}



{{template "authFooterFinal" . }}




