/*-------------- Start device screen 1366 --------------*/

@media screen and (max-width: 1366px) {

	.about-banner-img {
		width: 60%;
	}
	.about-banner-img img{
		height: 100%;
		width: 100%;
	}
	.gold-about-one-img img,
	.about-banner-img img{
		object-fit: cover;
	}
	.gold-about-one-img {
		width: 41.2%;
	}
	
}

/*-------------- Start device screen 1024 --------------*/

@media screen and (max-width: 1024px) {

	.gold-about-one-img {
		left: 0;
	}

	.gold-info h2 {
	    font-size: 50px;
	}
	.gold-info{
		padding-left: 30px;
	}
	.swiper-slide-thumb {
	    height: 107px !important;
	}
	.gold-newletter-light {
	    padding-bottom: 0;
	}
	.gold-address-area .gold-single-address {
		padding: 15px;
		border-radius: 5px;
		margin: 15px 0;
		width: 50%;
	}
  .gold-wallet-transfer-cart-left .gold-cart-option ul li:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;
  }
  .wallet-transfer-price h3 {
      font-size: 14px;
  }
  .wallet-transfer-price h3 span {
      font-size: 11px;
  }

}

/*-------------- Start device screen 991 --------------*/

@media screen and (max-width: 991px) {

	.gold-about-one-img,
	.about-banner-img {
		width: 100% !important;
	}
	.gold-about-one p,
	.gold-about-section .text-gray{
		color: #fff;
	}

	.gold-about-two-content{
		margin-bottom: 100px;
	}
	.gold-about-two-content h3 span{
		display: inline-block;
	}
	.about-banner-img::after,
	.gold-about-one-img::after{
		position: absolute;
		content: '';
		background: rgba(0,0,0,0.5);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%; 
	}

	.gold-header {
	    padding: 25px 0;
	}

	.gold-nav::after{
		display: none;
	}

	.slicknav_menutxt,
	#navigation{
		display: none !important;
	}
	.slicknav_menu{
	    display: block;
	}

	.slicknav_menu {
	    background: transparent;
	    padding: 0;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	}
	.slicknav_btn {
	    margin: 0;
	    text-decoration: none;
	    background-color: transparent;
	    cursor: pointer;
	    padding: 0;
	    border:1px solid #303030;
	    width: 35px;
	    height: 35px;
	    line-height: 30px;
	    text-align: center;
	    display: block;
	}
	.slicknav_menu .slicknav_icon {
	    margin: 0;
	    position: absolute;
	    top: 54%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    font-size: 19px;
	}

	.slicknav_nav {
	    position: absolute;
	    width: 71vw;
	    background: #202020;
	    top: 70px;
	    right: 0;
	    padding: 15px;
	    z-index: 999;
	}
	.slicknav_nav li{
		margin-right: 0 !important;
	}
	.slicknav_nav li a{
		padding: 10px 0 !important;
	}
	.slicknav_nav li:hover a,
	.slicknav_nav li.gold-active a{
		color: #d0ad59;
	}
	.slicknav_nav a:hover{
		background: transparent;
	}
	.gold-header-light .slicknav_nav li a{
		color: #fff !important;
	}

	.gold-user-area-content {
	    padding: 15px;
	}
	.gold-login-form-border {
	    padding-right: 30px;
	}
	.gold-login-form-border-left {
	    padding-left: 0;
	}
	.gold-product-light .single-gold {
		min-height: 450px;
	}
	.gold-extra-info .nav-pills .nav-link {
	    padding-bottom: 15px;
	    margin-bottom: 15px;
	}
	.gold-account-cart-left .card-header {
	 	padding-right: 10px;
	 	padding-left: 10px;
	}
	.swiper-slide-thumb {
	    height: 133px !important;
	}

	.gold-address-area .gold-single-address {
		width: initial;
	}
	
	.checkout-review-cart-total {
		padding: 10px;
	}
	.gold-contact-form{
		margin-top: 50px;
	}

}

/*-------------- Start device screen 768 --------------*/

@media screen and (max-width: 768px) {
	.single-gold {
	    width: 50%;
    	min-height: 540px;
	}
	.single-gold:nth-child(2n){
	    border-right: none;
	}
	.slicknav_nav {
	    width: 92vw;
	}
	.gold-search {
	    right: 18%;
	}
	.brand-area {
	    margin-top: 50px;
	}
	.gold-newletter {
	    text-align: center;
	    padding: 100px 0 50px;
	}
	.gold-about::after{
		display: none;
	}
	.gold-info h2 {
	    margin-bottom: 30px;
	}
	.gold-info {
	    padding-left: 0;
	    padding-top: 0;
	}
	.gold-product {
	    padding: 100px 0 50px;
	}
	.gold-product-title{
		padding-bottom: 10px;
	}
	.gold-product-title::after {
	    width: 100%;
	}
	.gold-banner{
		text-align: center;
	}
	.banner-gold-img{
		margin: auto;
		display: table;
	}
}

/*-------------- Start device screen 425 --------------*/

@media screen and (max-width: 425px) {
  .gold-wallet-transfer-cart-left ul{
    justify-content: center;
  }
  .gold-wallet-transfer-cart-left ul li{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .gold-wallet-transfer-cart-left li.gold-cart-dropdown{
    margin-right: 0 !important;
    padding-right: 0 !important;
    border-right: none !important;    
  }
  .gold-wallet-transfer-cart-left .gold-cart-option ul li:not(:last-child) {
    margin-right: 20px !important;
    padding-right: 20px !important;
}
  .gold-wallet-transfer-cart-left .gold-cart-info {
      padding: 10px 0;
      text-align: center;
  }
	.gold-contact h1 {
		font-size: 40px;
	}
	.gold-contact-btn-area{
		justify-content: space-between;
		margin-top: 30px;
	}
	.gold-about-banner-two h2,
	.gold-about-one h3 {
		font-size: 32px;
	}
	.single-gold {
	    width: 100%;
	    border-right: none;
	}
	.gold-banner-price-range li:not(:last-child) {
	    margin-right: 15px;
	    margin-bottom: 20px;
	}
	.gold-today {
	    font-size: 70px;
	}
	.gold-brand-title {
	    font-size: 80px;
	}
	.gold-brand-title::after {
	    width: 350px;
	    bottom: 0;
	}
	.brand-area img{
		margin-bottom: 30px;
	}
	.gold-footer-social{
		justify-content: center;
	}
	.gold-footer-social a {
	    padding: 18px 0;
	}
	.gold-footer-menu ul li a{
	    padding: 0 0 20px 0;
	    font-size: 14px;
	}
	.gold-footer-menu ul li:not(:last-child), .gold-nav ul li:not(:last-child) {
	    margin-right: 18px;
	}
	.gold-footer-menu ul{
		justify-content: center;
	}
	.gold-btm-footer{
		text-align: center;
	}
	.gold-btm-footer img{
		display: table;
		margin: auto;
	}
	.gold-add h3 {
	    font-size: 28px;
	    margin: 20px 0;
	}
	.gold-info h2 {
	    font-size: 34px;
	    margin-bottom: 0;
	}
	.gold-price h4 {
	    font-size: 19px;
	}
	.gold-banner-title {
	    font-size: 32px;
	    padding: 25px 0;
	}
	.slicknav_menu {
	    bottom: 48px;
	    right: 5%;
	}
	.gold-search {
	    right: 130px;
	    top: 27%;
	}
	.gold-user-option{
		margin-top: 20px;
	}

	.slicknav_nav {
	    top: 120px;
	}

	.cart-option{
		margin-bottom: 30px;
	}

	.cart-option .gold-cart-button{
		text-align: center;
		display: inline-block;
		margin: auto;
	}
	.gold-cart-info {
	    padding: 10px 30px;
	    text-align: center;
	}
	.gold-cart-review {
	    display: table;
	    margin: 0 auto 15px;
	}
	.gold-login-form-border {
	    padding-right: 0;
	    border: none;
	}
	.gold-solcial-login-btn:not(:last-child) {
	    margin-bottom: 20px;
	}
	.gold-user-area-content {
	    padding: 0;
	}
	.review-star span {
	    margin-right: 3px;
	}
	.extra-gold-info {
	    margin-top: 30px;
	}
	.extra-gold-info,
	.gold-total-reviews{
		padding: 0;
	}
	.review-list ul{
		display: table;
		margin: auto;
	}

	.sub-option:not(:first-child) {
	    border-left: none;
	    padding-left: 0;
	    margin-bottom: 5px;
	}

	.img-area {
	    display: table;
	    margin: auto;
	}
	.profile-user-info {
	    text-align: center;
	}
	.gold-account-cart-left .card-header ul{
		flex-wrap: wrap;
		justify-content: center !important;
	}
	.gold-account-cart-left .card-header ul li{
		padding: 5px 0;
	}
	.swiper-slide-thumb {
	    height: 100px !important;
	}

	.gold-address-area .gold-single-address {
		width: 100% !important;
		text-align: center;
		padding: 50px 15px;
	}
	.gold-address-area, .gold-address-options {
		display: flex;
		justify-content: center;
	}
	.gold-address-header {
		display: block;
		text-align: center;
	}
	
	.gold-address-header h4{
		margin-bottom: 15px;
	}
	.gold-wishlist-header h4{
		margin-bottom: 10px;
	}
	.gold-wishlist-header ul,
	.gold-wishlist-header {
		display: block;
		text-align: center;
	}
	.gold-wishlist-header .gold-share{
		padding:0 0 10px 0;
		display: block;
	}
	.gold-wishlist-footer ul{
		display: block;
	}
	
	.gold-wishlist-footer{
		text-align: center;
	}
	.gold-wishlist-footer .gold-share{
		margin-bottom: 15px;
		display: block;
	}

	.gold-chackout-card .card-header .btn::after {
		right: 0;
		top: 20%;
	}
	.chaeckout-address-submit-btn {
		display: block;
		text-align: center;
	}
	.gold-chackout-card .nav-pills .nav-link,
	.chaeckout-address-submit-btn li:not(:last-child) {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.gold-chackout-card .nav-pills{
		display: block;
	}




}

/*-------------- Start device screen 375 --------------*/

@media screen and (max-width: 375px) {
  .gold-wallet-transfer-cart-left ul li{
    display: block;
    width: 100%;
    border-right: none !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .gold-wallet-transfer-cart-left .gold-cart-dropdown{
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }
  .gold-wallet-transfer-cart-left .gold-cart-option ul li:not(:last-child){
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
	.gold-banner-price-range ul{
		flex-wrap: wrap;
	}
	.gold-brand-title::after {
	    width: 300px;
	    bottom: -10px;
	}
	.gold-brand-title {
	    font-size: 68px;
	}
	.gold-newletter h3 {
	    font-size: 36px;
	}
	.gold-info h2 {
	    font-size: 32px;
	    line-height: 1.5;
	}
	.more-gold {
	    margin-top: 0;
	}
	.gold-today {
	    font-size: 52px;
	    line-height: 1;
	}
	.gold-footer-menu ul li:not(:last-child), .gold-nav ul li:not(:last-child) {
	    margin-right: 10px;
	}
	.slicknav_menu {
	    bottom: 50px;
	    right: 5%;
	}
	.gold-cart-option ul li:not(:last-child) {
	    margin-right: 20px;
	    padding-right: 20px;
	}
}

/*-------------- Start device screen 320 --------------*/

@media screen and (max-width: 320px) {
	.gold-cart-option ul li:not(:last-child) {
	    margin-right: 10px;
	    border-right: 1px solid #ededed;
	    padding-right: 10px;
	}
	.gold-solcial-login-btn img {
	    margin-right: 10px;
	}
	.gold-extra-info .nav-pills .nav-item{
		width: 100%;
	}
	.gold-extra-info .nav-pills .nav-link {
	    display: block;
	    width: 100%;
	}
	.sub-option {
	    padding: 0;
	    width: 100%;
	    margin-bottom: 15px; 
	}
}