{{template "userHeader" . }}

<div class="gold-cart-area">
    <div class="container">
        <div class="row">
            {{template "userAccountSideNav" . }}
            <div class="col-lg-8">

                <div class="gold-cart-left gold-account-cart-left gold-address-card">
                    <div class="card-header">
                        <div class="gold-address-header">
                            <h4>edit address</h4>
                            <a href="/account/address" class="gold-new-address">my address</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/account/update-address?action=edit" method="post">
                            <input type="hidden" name="id" value="{{.ShipAdd.ID}}">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="Type your first name" name="first_name"
                                       value="{{.ShipAdd.FirstName}}" required>
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Type your last name" name="last_name"
                                       value="{{.ShipAdd.LastName}}" required>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" placeholder="Type your phone number" name="phone"
                                       value="{{.ShipAdd.Phone}}" autocomplete="off" required>
                            </div>
                            <div class="form-group">
                                <div class="gold-select-group">
                                    <label>Country</label>
                                    <select class="form-control" id="country" name="country" required>
                                        {{$userCountry := .ShipAdd.Country}}
                                        {{range .Countries}}
                                            <option value="{{.Key}}"
                                                    {{if (eq .Value $userCountry)}} selected {{end}}>
                                                {{.Value}}
                                            </option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" placeholder="Type your city name" name="city"
                                       value="{{.ShipAdd.City}}" autocomplete="off" required>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Type your address" name="address"
                                       value="{{.ShipAdd.Address}}" autocomplete="off" required>
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" placeholder="Type your state name" name="state"
                                       autocomplete="off" value="{{.ShipAdd.State}}" required>
                            </div>
                            <div class="form-group">
                                <label>Appartment, Unit, Etc</label>
                                <input type="text" class="form-control" placeholder="Type your apartment or unit number" name="apartment"
                                       autocomplete="off" value="{{.ShipAdd.Apartment}}" required>
                            </div>
                            <div class="form-group">
                                <label>Zip Code</label>
                                <input type="text" class="form-control" placeholder="Type your zip code" name="zip_code"
                                       value="{{.ShipAdd.ZipCode}}" autocomplete="off" required>
                            </div>
                            <div class="form-group m-0">
                                <button class="btn gold-truck-order-btn" type="submit">Save</button>
                                <button class="btn gold-truck-order-btn" type="reset">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "userFooterWithoutScripts" . }}


{{template "userFooterWithScripts" . }}

{{/*write scripts here*/}}



<script>

</script>


{{template "userFooterFinal" . }}