{{template "userHeader" . }}

    <div class="gold-preduct-details">
        <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-lg-0 mb-5">
                <div class="gold-product-thumb-slider">
                    <div class="row no-gutters">
                        {{/*<div class="col-xl-2 col-md-3 col-4">
                            <div class="swiper-container product-thumbs">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide swiper-slide-thumb">
                                        <img src="/assets{{.Product.ImgUrl.String}}" class="img-fluid">
                                    </div>
                                    */}}{{/*<div class="swiper-slide swiper-slide-thumb">
                                        <img src="/assets/Public/User/images/gold.png" class="img-fluid">
                                    </div>*/}}{{/*
                                </div>
                                <div class="gold-slider-arrow">
                                    <div class="swiper-button-next">
                                        <i class="fa fa-chevron-right"></i>
                                    </div>
                                    <div class="swiper-button-prev">
                                        <i class="fa fa-chevron-left"></i>
                                    </div>
                                </div>
                            </div>
                        </div>*/}}
                        <div class="col-xl-10 col-md-9 col-8">
                            <div class="swiper-container product-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide swiper-gold-slide">
                                        <img src="/assets{{.Product.ImgUrl.String}}" class="img-fluid">
                                        {{if .Product.Discount}}
                                            <div class="gold-detail-tag">
                                                -{{.Product.Discount}}%
                                            </div>
                                        {{end}}
                                    </div>
                                    {{/*<div class="swiper-slide swiper-gold-slide">
                                        <img src="/assets/Public/User/images/gold.png" class="img-fluid">
                                        <div class="gold-detail-tag">
                                            -35%
                                        </div>
                                    </div>*/}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gold-detail-info-right">
                    <ul class="d-flex justify-content-between align-items-center">
                        <li>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb gold-detail-breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    {{/*<li class="breadcrumb-item"><a href="#">Categorie</a></li>*/}}
                                    <li class="breadcrumb-item"><a href="javascript:;" class="disabled">{{.Product.Title}}</a></li>
                                </ol>
                            </nav>
                        </li>
                        <li>
                            {{if .Product.IsInWishlist}}
                                <a class="gold-favorite-btn" href="/remove-from-wishlist/0/{{.Product.ID}}">
                                    <img src="/assets/Public/User/images/icons/heart-fill.png" class="img-fluid" alt="">
                                    Remove from Wishlist
                                </a>
                            {{else}}
                                <a class="gold-favorite-btn" href="/add-wish/{{.Product.ID}}">
                                    <img src="/assets/Public/User/images/icons/heart-line.png" class="img-fluid" alt="">
                                    Add to Wishlist
                                </a>
                            {{end}}
                        </li>
                    </ul>
                    {{/*<div class="d-flex align-items-center">
                            <span class="d-flex review-star">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-half-o"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                            </span>
                        <span class="star-count">
                                (100)
                            </span>
                    </div>*/}}
                    <h2 class="gold-detail-title">{{.Product.Title}}</h2>
                    <div class="product-detail-price">
                        {{if .Product.Discount}}
                            <h4>€ {{.Product.DiscountPrice}} <span><del><sup>€ {{.Product.Price}}</sup></del></span></h4>
                        {{else}}
                            <h4>€ {{.Product.DiscountPrice}}</h4>
                        {{end}}
                    </div>
                    <p>{{.Product.Description.String}}</p>
                    <div class="cart-option d-flex align-items-center">
                        <div class="quantity-input">
                            <button class="quantity-btn sub" type="button" id="sub">-</button>
                            <input class="quantity" type="text" id="qty" value="1">
                            <button class="quantity-btn add" type="button" id="add">+</button>
                        </div>
                    </div>
                    <a href="javascript:;" onclick="addToCart()" class="btn gold-cart-button">
                        <img src="/assets/Public/User/images/icons/cart.png" class="img-fluid" alt="">
                        Add to Cart
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

    {{/*<div class="gold-extra-info">
        <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-selected="true"><img src="/assets/Public/User/images/icons/extra-1.png" class="img-fluid mr-3" alt=""> Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-additional-information-tab" data-toggle="pill" href="#pills-additional-information" role="tab" aria-controls="pills-additional-information" aria-selected="false"><img src="/assets/Public/User/images/icons/extra-2.png" class="img-fluid mr-3" alt=""> Additional Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-reviews-tab" data-toggle="pill" href="#pills-reviews" role="tab" aria-controls="pills-reviews" aria-selected="false"><img src="/assets/Public/User/images/icons/extra-3.png" class="img-fluid mr-3" alt=""> Reviews (234)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-shipping-delivery-tab" data-toggle="pill" href="#pills-shipping-delivery" role="tab" aria-controls="pills-shipping-delivery" aria-selected="false"><img src="/assets/Public/User/images/icons/extra-4.png" class="img-fluid mr-3" alt=""> Shipping & Delivery</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-4">
                                <div class="product-info-img">
                                    <img src="/assets/Public/User/images/gold.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8">
                                <div class="extra-gold-info">
                                    <h3>Lorem ipsum dolor sit amet, <span>consectetur</span> adipisicing elit</h3>
                                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <ul>
                                        <li>Lorem ipsum dolor</li>
                                        <li>Sit amet, consectetur</li>
                                        <li>Adipisicing elit, sed</li>
                                        <li>Do eiusmod tempor</li>
                                        <li>Incididunt ut labore</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-additional-information" role="tabpanel" aria-labelledby="pills-additional-information-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="additional-information">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure quasi ducimus laborum, accusamus ipsa eligendi consectetur vero, laudantium sit, fugiat quia odit. Et nulla animi consequatur quos dolores molestiae nemo eveniet, pariatur impedit dolorem, asperiores officia suscipit, beatae ad sapiente mollitia ratione quas eligendi dicta illo possimus iste rerum!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure quasi ducimus laborum, accusamus ipsa eligendi consectetur vero, laudantium sit, fugiat quia odit. Et nulla animi consequatur quos dolores molestiae nemo eveniet, pariatur impedit dolorem, asperiores officia suscipit, beatae ad sapiente mollitia ratione quas eligendi dicta illo possimus iste rerum!</p>
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                    </ul>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure quasi ducimus laborum, accusamus ipsa eligendi consectetur vero, laudantium sit, fugiat quia odit. Et nulla animi consequatur quos dolores molestiae nemo eveniet, pariatur impedit dolorem, asperiores officia suscipit, beatae ad sapiente mollitia ratione quas eligendi dicta illo possimus iste rerum!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure quasi ducimus laborum, accusamus ipsa eligendi consectetur vero, laudantium sit, fugiat quia odit. Et nulla animi consequatur quos dolores molestiae nemo eveniet, pariatur impedit dolorem, asperiores officia suscipit, beatae ad sapiente mollitia ratione quas eligendi dicta illo possimus iste rerum!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                        <div class="gold-total-reviews">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-6">
                                    <div class="total-review text-center">
                                        <h1 class="mb-2">4.5(star)</h1>
                                        <div class="d-flex review-star justify-content-center">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star-half-o"></i></span>
                                        </div>
                                        <p class="h5 mt-2">120 Ratings</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-md-0 mt-4">
                                    <div class="review-list">
                                        <ul>
                                            <li class="d-flex align-items-center">
                                                    <span class="d-flex review-star">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                    </span>
                                                <span class="review-progress">
                                                        <div class="progress">
                                                          <div class="progress-bar five-star" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </span>
                                                <span class="star-count">
                                                        (100)
                                                    </span>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                    <span class="d-flex review-star">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </span>
                                                <span class="review-progress">
                                                        <div class="progress">
                                                          <div class="progress-bar four-star" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80"></div>
                                                        </div>
                                                    </span>
                                                <span class="star-count">
                                                        (80)
                                                    </span>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                    <span class="d-flex review-star">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </span>
                                                <span class="review-progress">
                                                        <div class="progress">
                                                          <div class="progress-bar three-star" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80"></div>
                                                        </div>
                                                    </span>
                                                <span class="star-count">
                                                        (60)
                                                    </span>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                    <span class="d-flex review-star">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </span>
                                                <span class="review-progress">
                                                        <div class="progress">
                                                          <div class="progress-bar two-star" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80"></div>
                                                        </div>
                                                    </span>
                                                <span class="star-count">
                                                        (40)
                                                    </span>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                    <span class="d-flex review-star">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </span>
                                                <span class="review-progress">
                                                        <div class="progress">
                                                          <div class="progress-bar one-star" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80"></div>
                                                        </div>
                                                    </span>
                                                <span class="star-count">
                                                        (20)
                                                    </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-shipping-delivery" role="tabpanel" aria-labelledby="pills-shipping-delivery-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="additional-information">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure quasi ducimus laborum, accusamus ipsa eligendi consectetur vero, laudantium sit, fugiat quia odit. Et nulla animi consequatur quos dolores molestiae nemo eveniet, pariatur impedit dolorem, asperiores officia suscipit, beatae ad sapiente mollitia ratione quas eligendi dicta illo possimus iste rerum!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure quasi ducimus laborum, accusamus ipsa eligendi consectetur vero, laudantium sit, fugiat quia odit. Et nulla animi consequatur quos dolores molestiae nemo eveniet, pariatur impedit dolorem, asperiores officia suscipit, beatae ad sapiente mollitia ratione quas eligendi dicta illo possimus iste rerum!</p>
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                    </ul>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure quasi ducimus laborum, accusamus ipsa eligendi consectetur vero, laudantium sit, fugiat quia odit. Et nulla animi consequatur quos dolores molestiae nemo eveniet, pariatur impedit dolorem, asperiores officia suscipit, beatae ad sapiente mollitia ratione quas eligendi dicta illo possimus iste rerum!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure quasi ducimus laborum, accusamus ipsa eligendi consectetur vero, laudantium sit, fugiat quia odit. Et nulla animi consequatur quos dolores molestiae nemo eveniet, pariatur impedit dolorem, asperiores officia suscipit, beatae ad sapiente mollitia ratione quas eligendi dicta illo possimus iste rerum!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>*/}}

    <!-- =============================================
                (03) End extra information  section
    ============================================== -->


    <!-- =============================================
                (04) Start Product section
    ============================================== -->


    <div class="gold-product gold-product-light">
        <div class="container">
            <div class="gold-product-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="gold-product-title">You may also like</h5>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12 clearfix">
                            {{range .Products}}
                                <div class="single-gold">
                                    <div class="product-top">
                                        {{if .Discount}}
                                            <span class="dis-tag">- {{.Discount}} %</span>
                                        {{end}}
                                        <span class="favorite">
                                {{if .IsInWishlist}}
                                    <a href="/remove-from-wishlist/0/{{.ID}}">
                                        <img src="/assets/Public/User/images/icons/heart-fill.png" class="img-fluid" alt="">
                                    </a>
                                {{else}}
                                    <a href="/add-wish/{{.ID}}">
                                        <img src="/assets/Public/User/images/icons/heart-line.png" class="img-fluid" alt="">
                                    </a>
                                {{end}}
                            </span>
                                    </div>
                                    <div class="product-img">
                                        <a href="/product-details/{{.ID}}"><img src="/assets{{.ImgUrl.String}}" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="product-bottom">
                                        <ul class="top d-flex justify-content-between">
                                            <li class="gr" style="color: black;">{{.GrmAmount}} gr</li>
                                            <li class="k">{{.Karat.Amount}}K</li>
                                        </ul>
                                        <ul class="bottom d-flex justify-content-between">
                                            {{if .Discount}}
                                                <li class="price">€ {{.DiscountPrice}} <br><span><del>€ {{.Price}}</del></span></li>
                                            {{else}}
                                                <li class="price">€ {{.Price}}</li>
                                            {{end}}
                                            <li>
                                                <a href="/add-cart/{{.ID}}/1/cart" class="add-cart-btn"><img src="/assets/Public/User/images/icons/cart.png" alt=""> Add to Cart</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {{end}}
    
                        </div>
                    </div>
                    {{/*<div class="row">
                        <div class="col-12">
                            <div class="more-gold more-gold-light">
                                <a href="javascript" class="view-all-product view-all-product-light"><span>ALL PRODUCTS</span></a>
                            </div>
                        </div>
                    </div>*/}}
                </div>
            </div>
        </div>
    </div>


    <!-- =============================================
                (04) End Product section
    ============================================== -->

{{template "userFooterWithoutScripts" . }}


{{template "userFooterWithScripts" . }}

{{/*write scripts here*/}}

<script>

    function addToCart() {
        let proId = {{.Product.ID}};
        let qty = $('#qty').val();
        window.location.href = '/add-cart/' + proId + '/' + qty + '/cart';
    }

</script>


{{template "userFooterFinal" . }}