<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRUD | All-User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    {{if (ne .Msg.Success "")}}
        <br><br><span class="alert alert-success">{{ .Msg.Success }}</span><br><br>
    {{else if (ne .Msg.Fail "")}}
        <br><br><span class="alert alert-danger">{{ .Msg.Fail }}</span><br><br>
    {{end}}
    <h2>All User</h2>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {{if (ne .Count 0)}}
        {{range .Users}}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Name.String }}</td>
                <td>{{ .Email.String}}</td>
                <td><a href="/view-user/{{ .ID}}">
                        <button type="button" class="btn btn-info">View</button>
                    </a>
                    <a href="/edit-user/{{ .ID}}">
                        <button type="button" class="btn btn-success">Edit</button>
                    </a>
                    <a href="/delete-user/{{ .ID}}" id="delete">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a></td>
            </tr>
        {{end}}
        {{else}}
            <tr>
                <td class="col-sm-4" align="center"></td>
                <td class="col-sm-4" align="center">No Data Found.</td>
                <td class="col-sm-4" align="center"></td>
            </tr>
        {{end}}
        </tbody>
    </table>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<!--BootBox Delete Warning -->
<script>
    $(document).on("click", "#delete", function (e) {
        e.preventDefault();
        var link = $(this).attr("href");
        bootbox.confirm("Are you sure, You want to delete?", function (confirmed) {
            if (confirmed) {
                window.location.href = link;
            }
        });
    });

</script>

</body>
</html>
